{{> header }}

<div class="entry-content">
            <div class="woocommerce">

<div class="row">
    <div class="large-8 large-centered columns">

		<form name="checkout" method="post" class="checkout woocommerce-checkout" action="/orders/place">

			
				
				<div class="col2-set" id="customer_details">
					<div class="col-1">
						<div class="woocommerce-billing-fields">
	
		<h3>Billing Address</h3>

		<input type="hidden" name="addressPointer" value="{{info.id}}">
	
	
		<p class="form-row form-row form-row-wide validate-required" id="billing_first_name_field"><label for="billing_name" class=""> Name <abbr class="required" title="required">*</abbr></label><input type="text" class="input-text " name="billing_name" id="billing_name" placeholder=""  value="{{info.name}}"  /></p>

		<div class="clear"></div>
	
		<p class="form-row form-row form-row-first validate-required validate-email" id="billing_email_field"><label for="billing_email" class="">Email Address <abbr class="required" title="required">*</abbr></label><input type="email" class="input-text " name="billing_email" id="billing_email" placeholder=""  value="{{info.email}}"  /></p>
	
		<p class="form-row form-row form-row-last validate-required validate-phone" id="billing_phone_field"><label for="billing_phone" class="">Phone <abbr class="required" title="required">*</abbr></label><input type="tel" class="input-text " name="billing_phone" id="billing_phone" placeholder=""  value="{{info.phone}}"  /></p><div class="clear"></div>
	
		<p class="form-row form-row form-row-wide address-field validate-required" id="billing_address_1_field"><label for="billing_address_1" class="">Address <abbr class="required" title="required">*</abbr></label><input type="text" class="input-text " name="billing_address_1" id="billing_address_1" placeholder="Apartment, suite, unit etc."  value="{{info.house}}"  /></p>
	
		<p class="form-row form-row form-row-wide address-field" id="billing_address_2_field"><input type="text" class="input-text " name="billing_address_2" id="billing_address_2" placeholder="Street address"  value="{{info.locality}}"  /></p>
	
		<p class="form-row form-row form-row-first address-field validate-required" id="billing_city_field"><label for="billing_city" class="">Town / City <abbr class="required" title="required">*</abbr></label><input type="text" class="input-text " name="billing_city" id="billing_city" placeholder="Town / City"  value="{{info.city}}"  /></p>
	
		<p class="form-row form-row form-row-last address-field validate-required validate-postcode" id="billing_postcode_field"><label for="billing_postcode" class="">Pincode <abbr class="required" title="required">*</abbr></label><input type="text" class="input-text " name="billing_postcode" id="billing_postcode" placeholder="Postcode"  value="{{info.pincode}}"  /></p>

		<p class="form-row form-row form-row-first address-field validate-required validate-postcode" id="billing_postcode_field"><label for="billing_postcode" class="">Coupon <abbr title="required">*</abbr></label><input type="text" class="input-text " name="coupon_code" id="coupon_code" placeholder="Coupon code"  value=""  /></p>

		<div class="clear"></div>
	

		
		
	</div>					</div>

				</div>

				
				<h3 id="order_review_heading">Your order</h3>

			
			
			<div id="order_review" class="woocommerce-checkout-review-order">
				<table class="shop_table woocommerce-checkout-review-order-table">
	<thead>
		<tr>
			<th class="product-name">Product</th>
			<th class="product-total">Total</th>
		</tr>
	</thead>
	<tbody>
							<tr class="cart_item">
						<td class="product-name">
							{{product.name}}							 
							<strong class="product-quantity">x{{product.quantity}}</strong>													</td>
						<td class="product-total">
							<span class="amount">Rs.{{product.price}}</span>						</td>
					</tr>
						</tbody>
	<tfoot>

		<tr class="cart-subtotal">
			<th>Subtotal</th>
			<td><span class="amount">Rs.{{product.price}}</span></td>
		</tr>

		
		
			
			<tr class="shipping">
	<td>Shipping</td>
	<td>
		
			
				<ul id="shipping_method">
											<!-- <li>
							<input type="radio" name="shipping_method[0]" data-index="0" id="shipping_method_0_flat_rate" value="flat_rate"  class="shipping_method check_box_radio" />
							<label class="check_label_radio" for="shipping_method_0_flat_rate">Flat Rate: <span class="amount">&#036;10.00</span></label>
						</li> -->
											<li>
							<input type="radio" name="shipping_method[0]" data-index="0" id="shipping_method_0_free_shipping" value="free_shipping"  class="shipping_method check_box_radio" checked='checked' />
							<label class="check_label_radio" for="shipping_method_0_free_shipping">Free Shipping</label>
						</li>
											<!-- <li>
							<input type="radio" name="shipping_method[0]" data-index="0" id="shipping_method_0_international_delivery" value="international_delivery" class="shipping_method check_box_radio" />
							<label class="check_label_radio" for="shipping_method_0_international_delivery">International: <span class="amount">&#036;60.00</span></label>
						</li>
											<li>
							<input type="radio" name="shipping_method[0]" data-index="0" id="shipping_method_0_local_delivery" value="local_delivery"  class="shipping_method check_box_radio" />
							<label class="check_label_radio" for="shipping_method_0_local_delivery">Local Delivery: <span class="amount">&#036;5.00</span></label>
						</li>
											<li>
							<input type="radio" name="shipping_method[0]" data-index="0" id="shipping_method_0_local_pickup" value="local_pickup"  class="shipping_method check_box_radio" />
							<label class="check_label_radio" for="shipping_method_0_local_pickup">Local Pickup (Free)</label>
						</li> -->
									</ul>

			
		
		
			</td>
</tr>

			
		
		
		
		
		<tr class="order-total">
			<th>Total</th>
			<td><strong><span class="amount">Rs.{{product.price}}</span></strong> </td>
		</tr>

		
	</tfoot>
</table>
<div id="payment" class="woocommerce-checkout-payment">
		<ul class="payment_methods methods">
		<li class="payment_method_bacs">
	<input id="payment_method_bacs" type="radio" class="input-radio check_box_radio" name="payment_method" value="bacs"  checked='checked' data-order_button_text="" />

	<label  class="check_label_radio" for="payment_method_bacs">
		Direct Bank Transfer 	</label>
			<div class="payment_box payment_method_bacs" >
			<p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won't be shipped until the funds have cleared in our account.</p>
		</div>
	</li>
<li class="payment_method_cheque">
	<input id="payment_method_cheque" type="radio" class="input-radio check_box_radio" name="payment_method" value="cheque"  data-order_button_text="" />

	<label  class="check_label_radio" for="payment_method_cheque">
		Cheque Payment 	</label>
			<div class="payment_box payment_method_cheque" style="display:none;">
			<p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
		</div>
	</li>
<li class="payment_method_paypal">
	<input id="payment_method_paypal" type="radio" class="input-radio check_box_radio" name="payment_method" value="paypal"  data-order_button_text="Proceed to PayPal" />

	<label  class="check_label_radio" for="payment_method_paypal">
		PayPal <img src="https://www.paypalobjects.com/webstatic/mktg/Logo/AM_mc_vs_ms_ae_UK.png" alt="PayPal Acceptance Mark" /><a href="https://www.paypal.com/gb/webapps/mpp/paypal-popup" class="about_paypal" onclick="javascript:window.open('https://www.paypal.com/gb/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;" title="What is PayPal?">What is PayPal?</a>	</label>
			<div class="payment_box payment_method_paypal" style="display:none;">
			<p>Pay via PayPal; you can pay with your credit card if you don&#8217;t have a PayPal account.</p>
		</div>
	</li>
	</ul>
	
	<div class="form-row place-order">

		
		
					<p class="form-row terms">
				<input type="checkbox" class="check_box input-checkbox" name="terms"  id="terms" />
				<label for="terms" class="checkbox check_label">I&rsquo;ve read and accept the <a href="#" target="_blank">terms &amp; conditions</a></label>
			</p>
		<input type="hidden" name="productPointer" value="{{product.oid}}">
		<input type="hidden" name="price" value="{{product.price}}">
		<input type="hidden" name="quantity" value="{{product.quantity}}">
		<input type="submit" class="button alt" name="woocommerce_checkout_place_order" id="place_order" value="Place order" data-value="Place order" />
		
	</div>

	<div class="clear"></div>
</div>

			</div>

			
		</form>

    </div><!-- .columns -->
</div><!-- .row -->

</div>
                    </div><!-- .entry-content -->

{{> footer }}