{{> header}}

<div id="primary" class="content-area">
       
        <div id="content" class="site-content" role="main">
        
       		<header class="entry-header " style="background-image: url(&quot;&quot;); background-position: 50% 50%;">
        
                <div class="page_header_overlay"></div>
                
                <div class="row">
                                        <div class="large-8 large-centered columns without-sidebar">
                            
                                
                        <h1 class="entry-title">Checkout</h1>
                        
                                                
                                
                    </div>
                </div>
        
            </header><!-- .entry-header -->

            
                <article id="post-1942" class="post-1942 page type-page status-publish hentry">

    <div class="row">
    <div class="large-12 columns">
            
        <div class="entry-content">
            <div class="woocommerce">
<div class="row">
	<div class="large-8 large-centered columns">
		<div class="thank_you_header text-center">

			        
                <p>Thank you. Your order has been received.</p>
                
                <img class="thank_you_header_img_top" src="http://mr-tailor.getbowtied.com/wp-content/themes/mrtailor/images/thank_you_header_img.png" alt="login-image">
        
                <ul class="order_details">
                    <li class="order">
                        <span class="title">Order:</span>
                        <strong>{{order.orderId}}</strong>
                    </li>
                    <li class="date">
                        <span class="title">Date:</span>
                        <strong>{{order.orderTime}}</strong>
                    </li>
                    <li class="total">
                        <span class="title">Total:</span>
                        <strong><span class="amount">Rs.{{order.netPrice}}</span></strong>
                    </li>
                                        <li class="method">
                        <span class="title">Payment method:</span>
                        <strong>Credit Card</strong>
                    </li>
                                    </ul>
                <div class="clear"></div>
                
                <img class="thank_you_header_img_bottom" src="http://mr-tailor.getbowtied.com/wp-content/themes/mrtailor/images/thank_you_header_img.png" alt="login-image">
        
                
		</div><!-- .thank_you_header-->

		 <!-- <div class="thank_you_bank_details">
			<p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
<h2>Our Bank Details</h2>
<h3>Account Name - Unicredit TIriac Bank</h3>
<ul class="order_details bacs_details">
<li class="account_number">Account Number: <strong>56454984261468564654</strong></li>
<li class="sort_code">IFSC: <strong>jasfhdajsd-432423</strong></li>
<li class="iban">IBAN: <strong>32421421342135543</strong></li>
<li class="bic">BIC: <strong>ANFCUS33XXX</strong></li>
</ul><h3>Account Name 2 - Other Bank</h3>
<ul class="order_details bacs_details">
<li class="account_number">Account Number: <strong>7568560943654867574</strong></li>
<li class="sort_code">IFSC: <strong>43796543-ggdfgdf</strong></li>
<li class="iban">IBAN: <strong>43572698375634748</strong></li>
<li class="bic">BIC: <strong>ANFCUS33XXX</strong></li>

    </div><!-- .medium-10-->
</div><!--	.row	-->


<div class="row">
	<div class="large-8 large-centered columns">

		<h2>Order Details</h2>
		<table class="shop_table order_details">
			<thead>
				<tr>
					<th class="product-name">Product</th>
					<th class="product-total">Total</th>
				</tr>
			</thead>
			<tbody>
				<tr class="order_item">
	<td class="product-name">
		<a href="http://mr-tailor.getbowtied.com/shop/jackets-coats/hipster-outfit/">{{ product.name }}</a> <strong class="product-quantity">× 1</strong>	</td>
	<td class="product-total">
		<span class="amount">Rs.{{order.totalPrice}}</span>	</td>
</tr>
							</tbody>
			<tfoot>
										<tr>
							<th scope="row">Subtotal:</th>
							<td><span class="amount">Rs.{{order.totalPrice}}</span></td>
						</tr>
												<tr>
							<th scope="row">Shipping:</th>
							<td><span class="amount">Rs.0.00</span>&nbsp;<small>via Domestic</small></td>
						</tr>
												<tr>
							<th scope="row">Payment Method:</th>
							<td>Credit Card</td>
						</tr>
												<tr>
							<th scope="row">Total:</th>
							<td><span class="amount">Rs.{{order.netPrice}}</span></td>
						</tr>
									</tfoot>
		</table>

		
		<header><h2>Customer Details</h2></header>

<table class="shop_table shop_table_responsive customer_details">
	
			<tbody><tr>
			<th>Email:</th>
			<td>{{address.email}}</td>
		</tr>
	
			<tr>
			<th>Telephone:</th>
			<td>{{address.phoneNumber}}</td>
		</tr>
	
	</tbody></table>


<div class="col2-set addresses">
	<div class="col-1">


<header class="title">
	<h3>Billing Address</h3>
</header>
<address>
	<address>
			{{address.name}}<br>{{address.house}}<br>{{address.locality}}<br>{{address.city}} - {{address.pincode}}<br>India</address>


	</div><!-- /.col-1 -->
	<div class="col-2">
		<header class="title">
			<h3>Shipping Address</h3>
		</header>
		<address>
			{{address.name}}<br>{{address.house}}<br>{{address.locality}}<br>{{address.city}} - {{address.pincode}}<br>India</address>
	</div><!-- /.col-2 -->
</div><!-- /.col2-set -->


	</div><!-- .medium-8-->
</div><!-- .row-->

</div>
                    </div><!-- .entry-contenst -->

    </div><!-- .columns -->
    </div><!-- .row -->
    
</article><!-- #post -->
                    
                    
                <div class="clearfix"></div>
                <footer class="entry-meta">    
                                    </footer><!-- .entry-meta -->
                
                
            
        </div><!-- #content -->           
        
    </div>

{{> footer}}