{{> header}}

<div id="primary" class="content-area catalog-page without-sidebar">
        
        <div class="category_header" style="background-image: url('{{ designer.imageCover }}');background-position: 50% -200px;">
        
            <div class="category_header_overlay"></div>
            
            <div class="row">
                <div class="large-8 large-centered columns">

                    <nav class="woocommerce-breadcrumb"><a href="/">Home / </a>
                    	<a href="/designers/">Designers / </a>{{title}}</nav>
                    
                        <h1 class="page-title shop_page_title">{{title}}</h1>

                    
                    <div class="term-description"><p>Designer Description.</p>
</div>					
                </div>
            </div>
            
        </div>
        
        <div class="row">
            <div class="large-12 columns">        

                <div id="content" class="site-content" role="main">
                        					
                                            
                                            
                        						
							                        
                                                            
                                                
                                        
														
								<style>
									.categories_grid { margin-bottom: 0; }
								</style>
								
                                <div class="catalog_top row">
                                    <div class="medium-8 columns">
	<div class="filter_products_container">
	
		<a id="button_offcanvas_sidebar_left" class="filters_button">Filter</a>
		
		<span class="woocommerce-result-count">
			Showing 1–12 of 54 results		</span>
	
	</div><!-- .filter_products_container-->
</div><!-- .columns--><div class="medium-4 columns">
<form class="woocommerce-ordering" method="get">
	<div class="select2-container orderby big-select alignright" id="s2id_autogen1"><a href="javascript:void(0)" class="select2-choice" tabindex="-1">   <span class="select2-chosen" id="select2-chosen-2">Default sorting</span><abbr class="select2-search-choice-close"></abbr>   <span class="select2-arrow" role="presentation"><b role="presentation"></b></span></a><label for="s2id_autogen2" class="select2-offscreen"></label><input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-2" id="s2id_autogen2" vk_198f4="subscribed"><div class="select2-drop select2-display-none select2-with-searchbox">   <div class="select2-search">       <label for="s2id_autogen2_search" class="select2-offscreen"></label>       <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input" role="combobox" aria-expanded="true" aria-autocomplete="list" aria-owns="select2-results-2" id="s2id_autogen2_search" placeholder="" vk_198f4="subscribed">   </div>   <ul class="select2-results" role="listbox" id="select2-results-2">   </ul></div></div><select name="orderby" class="orderby big-select alignright select2-offscreen" tabindex="-1" title="">
					<option value="menu_order" selected="selected">Default sorting</option>
					<option value="popularity">Sort by popularity</option>
					<option value="rating">Sort by average rating</option>
					<option value="date">Sort by newness</option>
					<option value="price">Sort by price: low to high</option>
					<option value="price-desc">Sort by price: high to low</option>
			</select>
	<input type="hidden" name="products_per_row" value="4">
</form>
</div>
                                </div>
                                
                                <div class="row">
                                    <div class="large-12 columns">
                                        <hr class="catalog_top_sep">
                                    </div><!-- .columns -->
                                </div>
                    
								<div class="row">
									
																			
									<div class="large-12 columns">
									
															
										<div class="active_filters_ontop"></div>
						
										


<div class="row">
	<div class="large-12 columns">
		<ul id="products-grid" class="products products-grid effect-e2 small-block-grid-2 medium-block-grid-3 large-block-grid-4 columns-4">            
											                            
{{#each products}}												
<li class="animate">
	<div class="product_wrapper">		
		<div class="product_thumbnail_wrapper">
			<div class="product_thumbnail with_second_image second_image_loaded">
				<a href="/product/{{id}}-{{nameDashed}}">
					<span class="product_thumbnail_background" style="background-image: url('{{ image.[1] }}'); background-size: cover;"></span>
					<img width="350" height="435" src="{{image.[0]}}" class="attachment-shop_catalog wp-post-image" alt="01" style="opacity: 1;">
				</a>
			</div>
			<div class="yith-wcwl-add-to-wishlist add-to-wishlist-5285">
				<div class="yith-wcwl-add-button show" style="display:block">
					<a href="/product-category/mens-clothing/?products_per_row=4&amp;add_to_wishlist=5285" rel="nofollow" data-product-id="5285" data-product-type="simple" class="add_to_wishlist">
        				Add to Wishlist
        			</a>
					<img src="http://mr-tailor.getbowtied.com/wp-content/plugins/yith-woocommerce-wishlist/assets/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility: hidden; opacity: 1;">
	    		</div>
				<div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
	        		<span class="feedback">Product added!</span>
	        		<a href="http://mr-tailor.getbowtied.com/wishlist/view/">
	            	Browse Wishlist	        </a>
	    		</div>
				<div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
	        		<span class="feedback">The product is already in the wishlist!</span>
	        		<a href="http://mr-tailor.getbowtied.com/wishlist/view/">
	            	Browse Wishlist	        </a>
	    		</div>

			    <div style="clear:both"></div>
			    <div class="yith-wcwl-wishlistaddresponse"></div>
			</div>
			<div class="clear"></div>						
		</div><!--product_thumbnail_wrapper-->
	        
	    <h3><a href="/product/{{id}}-{{nameDashed}}"> {{name}} </a></h3>

	</div><!--product_wrapper-->
    
       
	<div class="product_after_shop_loop">
        
        		
		<div class="product_after_shop_loop_switcher">
            
            <div class="product_after_shop_loop_price">
            	<span class="price">
            		<del><span class="amount">Rs.{{maxPrice}}</span></del>
            		<ins><span class="amount">Rs.{{price}}</span></ins></span>
            </div>
            
            <div class="product_after_shop_loop_buttons">
                <a href="/product-category/mens-clothing/?products_per_row=4&amp;add-to-cart=5285" rel="nofollow" data-product_id="5285" data-product_sku="{{id}}" data-quantity="1" class="button add_to_cart_button product_type_simple">Buy Now</a>            
            </div>
            
        </div>
        
    </div>

</li>                            
{{/each}}						                            
                         
											                            
												</ul>
    </div><!-- .columns -->
</div><!-- .row -->										
										<div class="woocommerce-after-shop-loop-wrapper">
											<nav class="woocommerce-pagination">
	<ul class="page-numbers">
	<!-- <li><span class="page-numbers current">1</span></li> -->
	{{#times pages}}
		<li><a class="page-numbers " href="?page={{this}}">{{this}}</a></li>
	{{/times}}
</ul>
</nav>
										</div>
										
									</div><!-- .columns -->
								</div><!--.row-->
								
                                                    
                                        
                        
    			</div><!-- #content -->           
            </div><!-- .columns -->        
        </div><!-- .row -->
    </div>

{{> footer}}