{{> header}}

<div id="primary" class="content-area">
       
        <div id="content" class="site-content" role="main">
        
       		<header class="entry-header " style="background-image: url(&quot;&quot;); background-position: 50% -200px;">
        
                <div class="page_header_overlay"></div>
                
                <div class="row">
                                        <div class="large-8 large-centered columns without-sidebar">
                            
                                
                        <h1 class="entry-title">Designers</h1>
                        
                                                
                                
                    </div>
                </div>
        
            </header><!-- .entry-header -->

            
                <article id="post-2223" class="post-2223 page type-page status-publish hentry">

    <div class="row">
    <div class="large-12 columns">
            
        <div class="entry-content">
            <h5 style="text-align: center;">Subtitle</h5>
		<div class="row">
			<div class="categories_grid">	
					<!-- <div class="category_1">
						<div class="category_grid_box">
							<span class="category_item_bkg" style="background-image:url(http://mr-tailor.getbowtied.com/wp-content/uploads/2014/05/mensclothing.jpg)"></span> 
							<a href="http://mr-tailor.getbowtied.com/product-category/mens-clothing/" class="category_item">
								<span class="category_name">Men's Clothing</span>
							</a>
						</div>
					</div>
	
						
					<div class="category_2">
						<div class="category_grid_box">
							<span class="category_item_bkg" style="background-image:url(http://mr-tailor.getbowtied.com/wp-content/uploads/2014/05/pants-chinos.jpg)"></span> 
							<a href="http://mr-tailor.getbowtied.com/product-category/pants-chinos/" class="category_item">
								<span class="category_name">Pants &amp; Chinos</span>
							</a>
						</div>
					</div>
	
						
					<div class="category_3">
						<div class="category_grid_box">
							<span class="category_item_bkg" style="background-image:url(http://mr-tailor.getbowtied.com/wp-content/uploads/2014/05/backpacks1.jpg)"></span> 
							<a href="http://mr-tailor.getbowtied.com/product-category/bags/" class="category_item">
								<span class="category_name">Bags &amp; Backpacks</span>
							</a>
						</div>
					</div>
	
						
					<div class="category_4">
						<div class="category_grid_box">
							<span class="category_item_bkg" style="background-image:url(http://mr-tailor.getbowtied.com/wp-content/uploads/2014/05/footwear-img.jpg)"></span> 
							<a href="http://mr-tailor.getbowtied.com/product-category/footwear/" class="category_item">
								<span class="category_name">Footwear</span>
							</a>
						</div>
					</div>
	
						
					<div class="category_5">
						<div class="category_grid_box">
							<span class="category_item_bkg" style="background-image:url(http://mr-tailor.getbowtied.com/wp-content/uploads/2014/05/grooming-thumb.jpg)"></span> 
							<a href="http://mr-tailor.getbowtied.com/product-category/grooming/" class="category_item">
								<span class="category_name">Grooming</span>
							</a>
						</div>
					</div>
	
						
					<div class="category_6">
						<div class="category_grid_box">
							<span class="category_item_bkg" style="background-image:url(http://mr-tailor.getbowtied.com/wp-content/uploads/2014/05/accessories.jpg)"></span> 
							<a href="http://mr-tailor.getbowtied.com/product-category/accessories/" class="category_item">
								<span class="category_name">Accessories</span>
							</a>
						</div>
					</div>
					 -->
					{{#each designers}}
					<div class="category_more_than_6">
						<div class="category_grid_box">
							<span class="category_item_bkg" style="background-image:url({{image}})"></span> 
							<a href="/designer/{{id}}-{{nameDashed}}" class="category_item">
								<span style="display:none!important" class="category_name">{{name}}</span>
							</a>
						</div>
					</div>
					{{/each}}
					
					<script>
						jQuery(".category_grid_box").hover(function () {
							jQuery(this).find("a span").removeAttr("style");
						},
						function () {
							jQuery(this).find("a span").attr("style" , "display:none!important");
						});
					</script>					
					<div class="clearfix"></div>
							
				</div></div>
                    </div><!-- .entry-content -->

    </div><!-- .columns -->
    </div><!-- .row -->
    
</article><!-- #post -->
                    
                    
                <div class="clearfix"></div>
                <footer class="entry-meta">    
                                    </footer><!-- .entry-meta -->
                
                
            
        </div><!-- #content -->           
        
    </div>

{{> footer}}