{{> header }} 
<div class="page_with_slider">

<style type="text/css">
	.invert.slider_button:hover { color:#000!important; background: #fff!important;}
	.invert.slider_button { color:#fff!important; background: #000!important;}
	.invert { color: #000 !important;}, 
</style>
        
<div class="main-slider-fullscreen">

    <div class="main-slider">
        <div class="swiper-container" data-settings="">
            
            <div class="swiper-wrapper">
                
                                    
                    <div class="swiper-slide slide_1" >
                        
                        <div class="main-slider-content">
                            <div class="row">
                                <div class="large-8 large-centered medium-10 medium-centered columns">
                                    <div class="main-slider-elements">
                                        <h1>Free Shipping on All Orders Over $75!<br /></h1>
                                        <h2>The Heritage Collection Spring Summer 2014<br /></h2>
                                        <a class="slider_button" href="http://themeforest.net/item/mr-tailor-retina-responsive-woocommerce-theme/7292110?ref=getbowtied">Get This Theme Now!</a> 
                                    </div><!-- .main-slider-elements -->
                                </div><!-- .columns -->
                            </div><!-- .row --> 
                        </div>
                        
                        <a class="arrow-left" href="#"></a>
                        <a class="arrow-right" href="#"></a>	              
                    
                    </div>
                    
                                    
                    <div class="swiper-slide slide_2" >
                        
                        <div class="main-slider-content">
                            <div class="row">
                                <div class="large-8 large-centered medium-10 medium-centered columns">
                                    <div class="main-slider-elements">
                                        <h1>traditional tailoring meets modern technology<br /></h1>
                                        <h2>This Spring’s Collection: Ready-to-Wear<br /></h2>
                                        <a class="slider_button" href="http://themeforest.net/item/mr-tailor-retina-responsive-woocommerce-theme/7292110?ref=getbowtied">Discover The Collection</a> 
                                    </div><!-- .main-slider-elements -->
                                </div><!-- .columns -->
                            </div><!-- .row --> 
                        </div>
                        
                        <a class="arrow-left" href="#"></a>
                        <a class="arrow-right" href="#"></a>	              
                    
                    </div>
                    
                                    
                    <div class="swiper-slide slide_3" >
                        
                        <div class="main-slider-content">
                            <div class="row">
                                <div class="large-8 large-centered medium-10 medium-centered columns">
                                    <div class="main-slider-elements">
                                        <h1 class="invert">traditional tailoring meets modern technology<br /></h1>
                                        <h2 class="invert">This Spring’s Collection: Ready-to-Wear<br /></h2>
                                        <a class="slider_button invert" href="http://themeforest.net/item/mr-tailor-retina-responsive-woocommerce-theme/7292110?ref=getbowtied">Discover The Collection</a> 
                                    </div><!-- .main-slider-elements -->
                                </div><!-- .columns -->
                            </div><!-- .row --> 
                        </div>
                        
                        <a class="arrow-left" href="#"></a>
                        <a class="arrow-right" href="#"></a>	              
                    
                    </div>
                    
                                    
                    <div class="swiper-slide slide_4" >
                        
                        <div class="main-slider-content">
                            <div class="row">
                                <div class="large-8 large-centered medium-10 medium-centered columns">
                                    <div class="main-slider-elements">
                                        <h1 class="invert">Free Shipping on All Orders Over $75!<br /></h1>
                                        <h2 class="invert">All Winter Stock On Sale Summer is Coming!<br /></h2>
                                        <a class="slider_button invert" href="http://themeforest.net/item/mr-tailor-retina-responsive-woocommerce-theme/7292110?ref=getbowtied">Get This Theme</a> 
                                    </div><!-- .main-slider-elements -->
                                </div><!-- .columns -->
                            </div><!-- .row --> 
                        </div>
                        
                        <a class="arrow-left" href="#"></a>
                        <a class="arrow-right" href="#"></a>	              
                    
                    </div>
                    
                                
            </div>
            
            <div class="pagination"></div>
            
        </div>
    </div>

</div>

<script>
jQuery(document).ready(function($) {
	
	function resize_slider_content() {
		if ($(window).innerWidth() > 1280 ) {
			$('.main-slider, .main-slider .swiper-container, .main-slider .swiper-container .main-slider-content, .main-slider .swiper-container .swiper-wrapper').css('height', $(window).innerHeight() - $('#site-top-bar').innerHeight() - $('.site-header').innerHeight() - $('#wpadminbar').innerHeight());
			$('.main-slider .swiper-slide').removeClass('no_parallax');
		} else {
			$('.main-slider, .main-slider .swiper-container, .main-slider .swiper-container .main-slider-content, .main-slider .swiper-container .swiper-wrapper').css('height', 'auto');
			$('.main-slider .swiper-slide').addClass('no_parallax');
		}
	}
	
	var slider_2 = $('.main-slider .swiper-container').swiper({
		pagination: '.pagination',
    	paginationClickable: true,
		calculateHeight: true,
		resizeReInit: true,
		resistance: '100%',
				autoplay: 5000,
				onSwiperCreated : function() {
			resize_slider_content();
			$('.main-slider .swiper-container').css('visibility', 'visible');
			$('.swiper-slide-active .main-slider-elements').addClass('animated');
		},
		onSlideChangeStart : function() {			
			$('.main-slider .arrow-left, .main-slider .arrow-right').addClass('hidden');
			$('.main-slider-elements').removeClass('animated');
		},
		onSlideChangeEnd : function() {	
			$('.main-slider .arrow-left, .main-slider .arrow-right').removeClass('hidden');		
			$('.swiper-slide-active .main-slider-elements').addClass('animated');
		}
	});
	
	$('.arrow-left').on('click', function(e){
		e.preventDefault()
		slider_2.swipePrev()
	});
	
	$('.arrow-right').on('click', function(e){
		e.preventDefault()
		slider_2.swipeNext()
	});
	
	$(window).resize(function(){
		$('.main-slider .arrow-left, .main-slider .arrow-right').removeClass('hidden');		
		$('.main-slider-elements').addClass('animated');
		setTimeout(function() {	
			resize_slider_content();
			slider_2.reInit();
		}, 500);
	});
	
});
</script>   

<script>
jQuery(document).ready(function($) {
	
	function resize_slider_content() {
		if ($(window).innerWidth() > 1280 ) {
			$('.main-slider, .main-slider .swiper-container, .main-slider .swiper-container .main-slider-content, .main-slider .swiper-container .swiper-wrapper').css('height', $(window).innerHeight() - $('#site-top-bar').innerHeight() - $('.site-header').innerHeight() - $('#wpadminbar').innerHeight());
			$('.main-slider .swiper-slide').removeClass('no_parallax');
		} else {
			$('.main-slider, .main-slider .swiper-container, .main-slider .swiper-container .main-slider-content, .main-slider .swiper-container .swiper-wrapper').css('height', 'auto');
			$('.main-slider .swiper-slide').addClass('no_parallax');
		}
	}
	
	var slider_2 = $('.main-slider .swiper-container').swiper({
		pagination: '.pagination',
    	paginationClickable: true,
		calculateHeight: true,
		resizeReInit: true,
		resistance: '100%',
				autoplay: 5000,
				onSwiperCreated : function() {
			resize_slider_content();
			$('.main-slider .swiper-container').css('visibility', 'visible');
			$('.swiper-slide-active .main-slider-elements').addClass('animated');
		},
		onSlideChangeStart : function() {			
			$('.main-slider .arrow-left, .main-slider .arrow-right').addClass('hidden');
			$('.main-slider-elements').removeClass('animated');
		},
		onSlideChangeEnd : function() {	
			$('.main-slider .arrow-left, .main-slider .arrow-right').removeClass('hidden');		
			$('.swiper-slide-active .main-slider-elements').addClass('animated');
		}
	});
	
	$('.arrow-left').on('click', function(e){
		e.preventDefault()
		slider_2.swipePrev()
	});
	
	$('.arrow-right').on('click', function(e){
		e.preventDefault()
		slider_2.swipeNext()
	});
	
	$(window).resize(function(){
		$('.main-slider .arrow-left, .main-slider .arrow-right').removeClass('hidden');		
		$('.main-slider-elements').addClass('animated');
		setTimeout(function() {	
			resize_slider_content();
			slider_2.reInit();
		}, 500);
	});
	
});
</script>    
        
    <div class="full-width-page">
    
        <div id="primary" class="content-area">
           
            <div id="content" class="site-content" role="main">
                
                            
                        <div class="entry-content">
                        <div class="boxed-row"><div style=" color:#000000; " class="row normal_height vc_row wpb_row vc_row-fluid vc_custom_1435929059772">
	<div class="large-12 columns column_container">
		<div class="wpb_wrapper">
			
	<div class="wpb_content_element" style="margin-top:2em;margin-bottom:1em;">
		<div class="wpb_wrapper">
			<h3 style="text-align: center;"><strong>#Trending</strong></h3>

		</div> 
	</div> <div class="woocommerce columns-4">
			
			
<div class="clearfix"></div>

<div class="row">
	<div class="large-12 columns ">
		<ul id="products-grid" class="products products-grid effect-e2 small-block-grid-2 medium-block-grid-3 large-block-grid-4 columns-4">
				
{{#each products}}					
<li class="animate">
	<div class="product_wrapper">
		<div class="product_thumbnail_wrapper">
			<div class="product_thumbnail with_second_image second_image_loaded">
				<a href="/product/{{ id }}-{{ nameDashed }}">
					<span class="product_thumbnail_background" style="background-image: url({{imagebg}}); background-size: cover;"></span>
					<img width="350" height="435" src="{{image}}" class="attachment-shop_catalog wp-post-image" alt="02" style="opacity: 1;">				
				</a>
			</div>

			<div class="yith-wcwl-add-to-wishlist add-to-wishlist-5309">
			    <div class="yith-wcwl-add-button show" style="display:block">
					<a href="/?add_to_wishlist=5309" rel="nofollow" data-product-id="5309" data-product-type="simple" class="add_to_wishlist"> Add to Wishlist</a>
					<img src="http://mr-tailor.getbowtied.com/wp-content/plugins/yith-woocommerce-wishlist/assets/images/wpspin_light.gif" class="ajax-loading" alt="loading" width="16" height="16" style="visibility: hidden; opacity: 1;">
		    	</div>
				<div class="yith-wcwl-wishlistaddedbrowse hide" style="display:none;">
		        	<span class="feedback">Product added!</span>
		        	<a href="http://mr-tailor.getbowtied.com/wishlist/view/">
		            Browse Wishlist	        </a>
		    	</div>
				<div class="yith-wcwl-wishlistexistsbrowse hide" style="display:none">
		       		<span class="feedback">The product is already in the wishlist!</span>
		        	<a href="http://mr-tailor.getbowtied.com/wishlist/view/">
		            Browse Wishlist	        </a>
		    	</div>
			    <div style="clear:both"></div>
			    <div class="yith-wcwl-wishlistaddresponse"></div>
			</div>
			<div class="clear"></div>						
		</div><!--product_thumbnail_wrapper-->
        
        <h3>
        	<a href="/product/{{ id }}-{{ nameDashed }}">  {{name}} </a>
        </h3>

	</div><!--product_wrapper-->
    
	<div class="star-rating" title="Rated 4.33 out of 5">
		<span style="width:86.6%"><strong class="rating">4.33</strong> out of 5</span>
	</div>    
	<div class="product_after_shop_loop">
        <div class="product_after_shop_loop_switcher">
            <div class="product_after_shop_loop_price">
            	<span class="price">
            		<del><span class="amount">Rs.{{maxPrice}}</span></del>
            		<ins><span class="amount">Rs.{{price}}</span></ins></span>
            </div>
            <div class="product_after_shop_loop_buttons">
                <a href="/product/{{ id }}-{{ nameDashed }}" rel="nofollow" data-product_id="5309" data-product_sku="000213" data-quantity="1" class="button add_to_cart_button product_type_simple">Buy Now</a> 
            </div>
        </div>
    </div>
</li>
{{/each}}			
					</ul>
    </div><!-- .columns -->
</div><!-- .row -->
			
		</div>
		</div> 
	</div> 
</div></div>
                           <!--  <div class="boxed-row"><div style=" color:#000000; " class="row normal_height vc_row wpb_row vc_row-fluid vc_custom_1436037148376">
	<div class="large-12 columns column_container">
		<div class="wpb_wrapper">
			<div class="row"><div class="categories_grid">	
					<div class="category_four_cat_1">
						<div class="category_grid_box">
							<span class="category_item_bkg" style="background-image:url(http://mr-tailor.getbowtied.com/wp-content/uploads/2014/05/backpacks1.jpg)"></span> 
							<a href="http://mr-tailor.getbowtied.com/product-category/bags/" class="category_item">
								<span class="category_name">Bags &amp; Backpacks</span>
							</a>
						</div>
					</div>
	
						
					<div class="category_four_cat_2">
						<div class="category_grid_box">
							<span class="category_item_bkg" style="background-image:url(http://mr-tailor.getbowtied.com/wp-content/uploads/2014/05/jackets.jpg)"></span> 
							<a href="http://mr-tailor.getbowtied.com/product-category/jackets-coats/" class="category_item">
								<span class="category_name">Jackets &amp; Coats</span>
							</a>
						</div>
					</div>
	
						
					<div class="category_four_cat_3">
						<div class="category_grid_box">
							<span class="category_item_bkg" style="background-image:url(http://mr-tailor.getbowtied.com/wp-content/uploads/2014/05/jumpers-cardigans-thumb.jpg)"></span> 
							<a href="http://mr-tailor.getbowtied.com/product-category/jumpers-cardigans/" class="category_item">
								<span class="category_name">Jumpers &amp; Cardigans</span>
							</a>
						</div>
					</div>
	
						
					<div class="category_four_cat_4">
						<div class="category_grid_box">
							<span class="category_item_bkg" style="background-image:url(http://mr-tailor.getbowtied.com/wp-content/uploads/2014/05/mensclothing.jpg)"></span> 
							<a href="http://mr-tailor.getbowtied.com/product-category/mens-clothing/" class="category_item">
								<span class="category_name">Men's Clothing</span>
							</a>
						</div>
					</div>
	
												
					<div class="clearfix"></div>
							
				</div></div>
		</div> 
	</div> 
</div></div> -->
</div>
                        </div><!-- .entry-content -->
        
                        
            </div><!-- #content -->           
            
        </div><!-- #primary -->
    
    </div><!-- .full-width-page -->
    
        
</div>

{{> footer }} 