
{{> header }}           
                                                                        

<div id="primary" class="content-area">
        
    <div id="content" class="site-content" role="main">

		
            
<div itemscope itemtype="http://schema.org/Product" id="product-10" class="post-10 product type-product status-publish has-post-thumbnail product_cat-first-category product_tag-tag1 product_tag-tag2 sale shipping-taxable purchasable product-type-simple product-cat-first-category product-tag-tag1 product-tag-tag2 instock">

    <div class="row">
        <div class="large-12 columns">
    
                
            <nav class="woocommerce-breadcrumb" itemprop="breadcrumb"><a href="/">Home</a>&nbsp;&#47;&nbsp;<a href="/designer/{{product.designer.id}}-{{product.designer.nameDashed}}/">{{product.designer.name}}</a>&nbsp;&#47;&nbsp;{{ product.name }}</nav>            
            <div class="product_summary_top">
            <h1 itemprop="name" class="product_title entry-title">{{ product.name }}</h1>

	<div class="woocommerce-product-rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
		<div class="star-rating" title="Rated 3 out of 5">
			<span style="width:60%">
				<strong itemprop="ratingValue" class="rating">3</strong> out of <span itemprop="bestRating">5</span>				based on <span itemprop="ratingCount" class="rating">1</span> customer rating			</span>
		</div>
		<a href="#reviews" class="woocommerce-review-link" rel="nofollow">(<span itemprop="reviewCount" class="count">1</span> customer review)</a>	</div>

            </div>
    
        </div><!-- .columns -->        
    </div><!-- .row -->

	
						  
	<div class="single-product without-sidebar">				  
					  
		<div class="row">				  
						 
			<div class="large-1 columns product_summary_thumbnails_wrapper without_sidebar">
				<div> 

	    
    <div class="product_thumbnails">
        
        <div class="swiper-container">
    		
            <div class="swiper-wrapper">

				<!-- <div class="swiper-slide"><img width="70" height="87" src="/wp-content/uploads/2015/12/D0006P0003-70x87.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="D0006P0003" title="D0006P0003" srcset="/wp-content/uploads/2015/12/D0006P0003-70x87.jpg 70w, /wp-content/uploads/2015/12/D0006P0003-350x435.jpg 350w, /wp-content/uploads/2015/12/D0006P0003-190x236.jpg 190w" sizes="(max-width: 70px) 100vw, 70px" /></div><div class="swiper-slide"><img width="70" height="87" src="/wp-content/uploads/2015/12/D0006P0003_1-70x87.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt="D0006P0003_1" srcset="/wp-content/uploads/2015/12/D0006P0003_1-70x87.jpg 70w, /wp-content/uploads/2015/12/D0006P0003_1-350x435.jpg 350w, /wp-content/uploads/2015/12/D0006P0003_1-190x236.jpg 190w" sizes="(max-width: 70px) 100vw, 70px" /></div><div class="swiper-slide"><img width="70" height="87" src="/wp-content/uploads/2015/12/D0006P0003_2-70x87.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt="D0006P0003_2" srcset="/wp-content/uploads/2015/12/D0006P0003_2-70x87.jpg 70w, /wp-content/uploads/2015/12/D0006P0003_2-350x435.jpg 350w, /wp-content/uploads/2015/12/D0006P0003_2-190x236.jpg 190w" sizes="(max-width: 70px) 100vw, 70px" /></div><div class="swiper-slide"><img width="70" height="87" src="/wp-content/uploads/2015/12/D0006P0003-1-70x87.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt="D0006P0003" srcset="/wp-content/uploads/2015/12/D0006P0003-1-70x87.jpg 70w, /wp-content/uploads/2015/12/D0006P0003-1-350x435.jpg 350w, /wp-content/uploads/2015/12/D0006P0003-1-190x236.jpg 190w" sizes="(max-width: 70px) 100vw, 70px" /></div> -->   
				{{#each product.imageUrls}}	
				<div class="swiper-slide"><img width="70" height="87" src="{{this}}" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="D0006P0003" title="D0006P0003" srcset="{{this}} 70w, /wp-content/uploads/2015/12/D0006P0003-350x435.jpg 350w, /wp-content/uploads/2015/12/D0006P0003-190x236.jpg 190w" sizes="(max-width: 70px) 100vw, 70px" /></div> 
				{{/each}}            
            </div><!-- /.swiper-wrapper -->
            
            			
			<style>
			.product_thumbnails .swiper-container {
				height: 408px;
			}
			</style>
            
            <div class="pagination"></div>
            
        </div><!-- /.swiper-container -->
        
    </div><!-- /.product_images -->
    
	&nbsp;</div>
			</div><!-- .columns -->
			
			<div class="large-5 large-push-0 medium-8 medium-push-2 columns">
	
				
	{{#if product.maxPrice}}<span class="onsale">Sale!</span>{{/if}}

<div class="featured_img_temp"><img width="384" height="521" src="{{ product.imageUrls }}" class="attachment-shop_single size-shop_single wp-post-image" alt="D0006P0003" srcset="/wp-content/uploads/2015/12/D0006P0003-221x300.jpg 221w, {{ product.imageUrls }} 384w" sizes="(max-width: 384px) 100vw, 384px" /></div>
<div class="images">

	    
    <div class="product_images">
        
        <div id="product-images-carousel" class="owl-carousel">
    
			{{#each product.imageUrls}}			
			<div class="easyzoom el_zoom">
                
				<a data-fresco-group="product-gallery" data-fresco-options="fit: 'width'" class="zoom" href="{{this}}">
                                    
					<img width="384" height="521" src="{{this}}" class="attachment-shop_single size-shop_single wp-post-image" alt="D0006P0003" srcset="/wp-content/uploads/2015/12/D0006P0003-221x300.jpg 221w, {{this}} 384w" sizes="(max-width: 384px) 100vw, 384px" />                                            
                </a>
                           
            </div>
            {{/each}}
            
			
			                    
								
					<!-- <div class="easyzoom el_zoom">
                
				<a data-fresco-group="product-gallery" data-fresco-options="fit: 'width'" class="zoom" href="/wp-content/uploads/2015/12/D0006P0003.jpg">
                                    
					<img width="384" height="521" src="/wp-content/uploads/2015/12/D0006P0003.jpg" class="attachment-shop_single size-shop_single wp-post-image" alt="D0006P0003" srcset="/wp-content/uploads/2015/12/D0006P0003-221x300.jpg 221w, /wp-content/uploads/2015/12/D0006P0003.jpg 384w" sizes="(max-width: 384px) 100vw, 384px" />                                            
                </a>
                           
            </div><div class="easyzoom el_zoom">
                        
						                            <a data-fresco-group="product-gallery" data-fresco-options="fit: 'width'" class="zoom" href="/wp-content/uploads/2015/12/D0006P0003_1.jpg">
                                                
                                <img src="/wp-content/uploads/2015/12/D0006P0003_1-190x236.jpg" data-src="/wp-content/uploads/2015/12/D0006P0003_1.jpg" class="lazyOwl" alt="D0006P0003_1">
                                                        
						                            </a>
                                                
                    </div>
                    
                	                    
								
					<div class="easyzoom el_zoom">
                        
						                            <a data-fresco-group="product-gallery" data-fresco-options="fit: 'width'" class="zoom" href="/wp-content/uploads/2015/12/D0006P0003_2.jpg">
                                                
                                <img src="/wp-content/uploads/2015/12/D0006P0003_2-190x236.jpg" data-src="/wp-content/uploads/2015/12/D0006P0003_2.jpg" class="lazyOwl" alt="D0006P0003_2">
                                                        
						                            </a>
                                                
                    </div>
                    
                	                    
								
					<div class="easyzoom el_zoom">
                        
						                            <a data-fresco-group="product-gallery" data-fresco-options="fit: 'width'" class="zoom" href="/wp-content/uploads/2015/12/D0006P0003-1.jpg">
                                                
                                <img src="/wp-content/uploads/2015/12/D0006P0003-1-190x236.jpg" data-src="/wp-content/uploads/2015/12/D0006P0003-1.jpg" class="lazyOwl" alt="D0006P0003">
                                                        
						                            </a>
                                                
                    </div> -->
                    
                	                
    	</div>
        
    </div><!-- /.product_images -->

	
</div>
				
								
									                				
				&nbsp;
				
			</div><!-- .columns -->
			
						
						<div class="large-6 large-push-0 columns">
						
				<div class="product_infos">
					
					<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

	<p class="price">{{#if product.maxPrice}}<del><span class="amount">Rs.{{ product.maxPrice }}.00</span></del>{{/if}} <ins><span class="amount">Rs.{{ product.price }}.00</span></ins></p>

	<meta itemprop="price" content="{{ product.price }}" />
	<meta itemprop="priceCurrency" content="INR" />
	<link itemprop="availability" href="http://schema.org/InStock" />

</div>
<div itemprop="description" class="product_description">
	<p>{{ product.description }}</p>
</div>
<!-- <p class="stock in-stock">5 in stock</p> -->

        
    <div class="clearfix"></div>
    
	<form class="cart" method="post" action="/orders/checkout">
	 		{{#if product.variable}}
	 		<div class="variations">
			    <div class="variations_lines">
                    <div class="label"><label>Size</label></div>
                    <div class="value">
                        <select id="pa_color" name="attribute_pa_color">
                            <option value="" selected="selected">Choose an option</option>
                            {{#each product.size}}
                            <option value="{{this}}" class="attached enabled">{{this}}</option>
                            {{/each}}
                        </select> 
                     </div><!-- .value -->
                </div><!-- .variations_lines -->
         
        	</div>
        	<div class="single_variation_wrap" style="display: block;">
			
			<div class="single_variation"></div>

			<div class="clearfix"></div>
            

					</div>
        	{{/if}}
	 	<div class="quantity"><input type="number" step="1" min="1" max="5" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" /></div>

	 	<input type="hidden" id="productId" name="productId" value="{{ product.id }}" />

	 	<button type="submit" class="single_add_to_cart_button button alt">Add to cart</button>

			</form>

	

    <div class="box-share-master-container">
        <div class="box-share-container product-share-container">

            <a class="trigger-share-list" href="#"><i class="fa fa-share-alt"></i>Share this product</a>
            <div class="box-share-list">

                
                <div class="box-share-list-inner">
                    <a href="//www.facebook.com/sharer.php?u=/product/first-product/" class="box-share-link" target="_blank"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                    <a href="//twitter.com/share?url=/product/first-product/" class="box-share-link" target="_blank"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                    <a href="//plus.google.com/share?url=/product/first-product/" class="box-share-link" target="_blank"><i class="fa fa-google-plus"></i><span>Google</span></a>
                    <a href="//pinterest.com/pin/create/button/?url=/product/first-product/&amp;media=/wp-content/uploads/2015/12/D0006P0003.jpg&amp;description=First+Product" class="box-share-link" target="_blank"><i class="fa fa-pinterest"></i><span>Pinterest</span></a>
                </div><!--.box-share-list-inner-->

            </div><!--.box-share-list-->
        </div>
    </div><!--.box-share-master-container-->

				
				</div>
	
			</div><!-- .columns -->
			
							   
		</div><!-- .row -->
			
		<div class="row">
			<div class="large-12 large-uncentered columns">
				
	<div class="woocommerce-tabs wc-tabs-wrapper">
		<ul class="tabs wc-tabs">
							<li class="description_tab">
					<a href="#tab-description">Description</a>
				</li>
							<li class="additional_information_tab">
					<a href="#tab-additional_information">Additional Information</a>
				</li>
							<li class="reviews_tab">
					<a href="#tab-reviews">Reviews (1)</a>
				</li>
					</ul>
					<div class="panel entry-content wc-tab" id="tab-description">
                <div class="row">
                    <div class="large-10 large-centered columns">
                        
  <h2>Product Description</h2>

<p>{{ product.description }}</p>
                    </div>
                </div>
            </div>

					<div class="panel entry-content wc-tab" id="tab-additional_information">
                <div class="row">
                    <div class="large-10 large-centered columns">
                        
	<h2>Additional Information</h2>

<table class="shop_attributes">

	
		
		
	
			<tr class="">
			<th>size</th>
			<td><!-- <p>5, 10</p> --> {{ product.size }}
</td>
		</tr>
	
</table>
                    </div>
                </div>
            </div>

					<div class="panel entry-content wc-tab" id="tab-reviews">
                <div class="row">
                    <div class="large-10 large-centered columns">
                        
<div class="row">
	<div class="large-9 large-centered columns">

		<div id="reviews">
			<div id="comments">
				<h2>1 review for First Product</h2>
		
						
					<ol class="commentlist">
						
<li itemprop="reviews" itemscope itemtype="http://schema.org/Review" class="comment byuser comment-author-akshay bypostauthor even thread-even depth-1" id="li-comment-2">

	<div id="comment-2" class="comment_container">

		<img alt='akshay' src='http://2.gravatar.com/avatar/5326a1b44cc4cf3285b31f92eeb430f8?s=140&#038;d=mm&#038;r=g' srcset='http://2.gravatar.com/avatar/5326a1b44cc4cf3285b31f92eeb430f8?s=280&amp;d=mm&amp;r=g 2x' class='avatar avatar-140 photo' height='140' width='140' />
		<div class="comment-text">

			
				<div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating" class="star-rating" title="Rated 3 out of 5">
					<span style="width:60%"><strong itemprop="ratingValue">3</strong> out of 5</span>
				</div>

			
			                
                <h3 class="comment-author" itemprop="author">akshay</h3>                
                                
                <div class="comment-metadata">
                    <a href="/product/first-product/#comment-2">
                        <time itemprop="datePublished" datetime="2015-12-19T13:29:50+00:00">December 19, 2015</time>
                    </a>
                </div><!-- .comment-metadata -->

			
			<div itemprop="description" class="description"><p>good</p>
</div>
		</div>
	</div>
</li><!-- #comment-## -->
					</ol>
		
							
							</div>
		
					
				<div id="review_form_wrapper">
					<div id="review_form">
										<div id="respond" class="comment-respond">
			<h3 id="reply-title" class="comment-reply-title">Add a review <small><a rel="nofollow" id="cancel-comment-reply-link" href="/wordpress/product/first-product/#respond" style="display:none;">Cancel reply</a></small></h3>				<form action="/wp-comments-post.php" method="post" id="commentform" class="comment-form">
					<p class="comment-form-rating"><label for="rating">Your Rating</label><select name="rating" id="rating">
									<option value="">Rate&hellip;</option>
									<option value="5">Perfect</option>
									<option value="4">Good</option>
									<option value="3">Average</option>
									<option value="2">Not that bad</option>
									<option value="1">Very Poor</option>
								</select></p><p class="comment-form-comment"><label for="comment">Your Review</label><textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea></p><p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Submit" /> <input type='hidden' name='comment_post_ID' value='10' id='comment_post_ID' />
<input type='hidden' name='comment_parent' id='comment_parent' value='0' />
</p><input type="hidden" id="_wp_unfiltered_html_comment_disabled" name="_wp_unfiltered_html_comment_disabled" value="2731d82e28" /><script>(function(){if(window===window.parent){document.getElementById('_wp_unfiltered_html_comment_disabled').name='_wp_unfiltered_html_comment';}})();</script>
				</form>
					</div><!-- #respond -->
							</div>
				</div>
		
					
			<div class="clear"></div>
		</div>
		
	</div><!-- .large-9-->
</div><!-- .row-->                    </div>
                </div>
            </div>

			</div>

<div class="product_meta">

	
	
		<span class="sku_wrapper">SKU: <span class="sku" itemprop="sku">{{ product.id }}</span>.</span>

	
	<span class="posted_in">Designer: <a href="/designer/{{product.designer.id}}-{{product.designer.nameDashed}}/" rel="tag">{{ product.designer.name }}</a></span>
	<span class="tagged_as">Tags: <a href="/product-tag/tag1/" rel="tag">tag1</a><span class="product_meta_separator">,</span> <a href="/product-tag/tag2/" rel="tag">tag2</a></span>
	
</div>
				
				<div class="product_navigation">
						
	<nav role="navigation" id="nav-below" class="product-navigation">
	
        
        
	</nav><!-- #nav-below -->
    
    				</div>
				
			</div><!-- .columns -->
		</div><!-- .row -->
    
	</div><!--.single-product .without-sidebar-->
	
		
    <meta itemprop="url" content="/product/first-product/" />

</div><!-- #product-10 -->


            
    </div><!-- #content -->           

</div><!-- #primary -->

<div class="single_product_summary_upsell">
    <div class="row">
         
    </div><!-- .row -->         
</div><!-- .single_product_summary_upsell -->

<div class="single_product_summary_related">
    <div class="row">
            </div><!-- .row -->
</div><!-- .single_product_summary_related -->

{{> footer }}