

					                    
                    <footer id="site-footer" role="contentinfo">
						
						 						
                        <div class="site-footer-copyright-area">
                            <div class="row">
                                <div class="medium-4 columns">	
                                    <div class="payment_methods">
                                        
                                                        
                                        <img src="/images/theme_options/icons/payment_cards.png" alt="Payment methods" />
                                        
                                                    
                                    </div><!-- .payment_methods -->
                                </div><!-- .large-4 .columns -->
                                
                                <div class="medium-8 columns">
                                    <div class="copyright_text">
                                                                                    © <a href='http://www.zeko.com/'>Zeko</a> - Slogan.                                                                            </div><!-- .copyright_text -->  
                                </div><!-- .large-8 .columns -->            
                            </div><!-- .row --> 
                        </div><!-- .site-footer-copyright-area -->
                               
                    </footer>
                    
                </div><!-- #page -->
                        
            </div><!-- /st-content -->
        </div><!-- /st-pusher -->
        
        <nav class="st-menu slide-from-left">
            <div class="nano">
                <div class="nano-content">
                    <div id="mobiles-menu-offcanvas" class="offcanvas-left-content">
                    	
                        <nav id="mobile-main-navigation" class="mobile-navigation" role="navigation">
						                        </nav>
                        
                                                
                            <nav id="mobile-top-bar-navigation" class="mobile-navigation" role="navigation">
                                                        
                                                            <ul><li><a href="/?customer-logout=true" class="logout_link">Logout</a></li></ul>
                                                        </nav>
                        
                                                
                        <div class="language-and-currency-offcanvas hide-for-large-up">
							
							                            
                                                    
                        </div>
                        
                        <div class="mobile-socials">
                            <div class="site-social-icons">
                                <ul class="//animated //flipY">
                                    <li class="site-social-icons-facebook"><a target="_blank" href="https://www.facebook.com/GetBowtied"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>                                    <li class="site-social-icons-twitter"><a target="_blank" href="http://twitter.com/GetBowtied"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>                                    <li class="site-social-icons-pinterest"><a target="_blank" href="http://www.pinterest.com/"><i class="fa fa-pinterest"></i><span>Pinterest</span></a></li>                                                                                                                                                                                    <li class="site-social-icons-instagram"><a target="_blank" href="http://instagram.com/getbowtied"><i class="fa fa-instagram"></i><span>Instagram</span></a></li>                                    <li class="site-social-icons-youtube"><a target="_blank" href="https://www.youtube.com/channel/UC88KP4HSF-TnVhPCJLe9P-g"><i class="fa fa-youtube-play"></i><span>Youtube</span></a></li>                                                                    </ul>
                            </div>
                        </div>
                        
                    </div>
                    <div id="filters-offcanvas" class="offcanvas-left-content wpb_widgetised_column">
						                    </div>
                </div>
            </div>
        </nav>
        
        <nav class="st-menu slide-from-right">
            <div class="nano">
                <div class="nano-content">
					<div id="minicart-offcanvas" class="offcanvas-right-content"><div class="widget woocommerce widget_shopping_cart"><h2 class="widgettitle">Cart</h2><div class="widget_shopping_cart_content"></div></div></div>
                    <div id="wishlist-offcanvas" class="offcanvas-right-content"><div class="widget"></div></div>
                </div>
            </div>
        </nav>
    
    </div><!-- /st-container -->
    
    <!-- ******************************************************************** -->
    <!-- * Custom Footer JavaScript Code ************************************ -->
    <!-- ******************************************************************** -->
    
    		<script type="text/javascript">
			                                    		</script>
        
        
	<!-- ******************************************************************** -->
    <!-- * Sticky Header **************************************************** -->
    <!-- ******************************************************************** -->
	
	<div class="site-header-sticky">
        <div class="row">		
		<div class="large-12 columns">
		    <div class="site-header-sticky-inner">
                <div class="site-branding">
                    
                                        
                        <div class="site-title"><a href="/" rel="home">Zeko</a></div>
                    
                                        
                </div><!-- .site-branding -->
                
                                
                <div id="site-menu">
                    
                    <nav id="site-navigation" class="main-navigation" role="navigation">
                    <ul id="menu-main-navigation-2">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8313"><a href="/"><strong>Home</strong></a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8313"><a href="/designers"><strong>Designers</strong></a></li>
                    </ul>
                                   
                    </nav><!-- #site-navigation -->                  
                    
                    <div class="site-tools">
                        <ul>
                            
                            <li class="mobile-menu-button"><a><i class="getbowtied-icon-menu"></i></a></li>
                            
                                                        
                            
                            
                                                                                                                <li class="shopping-bag-button" class="right-off-canvas-toggle"><a><i class="getbowtied-icon-shop"></i><span class="shopping_bag_items_number">0</span></a></li>
							                                                        
                                                        <li class="search-button"><a><i class="getbowtied-icon-search"></i></a></li>
                                                        
                        </ul>	
                    </div>
                                        
                    <div class="site-search">
						<div class="widget woocommerce widget_product_search"><form role="search" method="get" class="woocommerce-product-search" action="/search">
	<label class="screen-reader-text" for="s">Search for:</label>
	<input type="search" class="search-field" placeholder="Search Products&hellip;" value="" name="s" title="Search for:" />
	<input type="submit" value="Search" />
	<input type="hidden" name="post_type" value="product" />
</form>
</div>               
                    </div><!-- .site-search -->
                
                </div><!-- #site-menu -->
                
                <div class="clearfix"></div>
			</div><!--.site-header-sticky-inner-->	
		</div><!-- .large-12-->
		</div><!--.row--> 
    </div><!-- .site-header-sticky -->
    
    	
	
    <!-- ******************************************************************** -->
    <!-- * WP Footer() ****************************************************** -->
    <!-- ******************************************************************** -->
	
	<div class="login_header">
		<a class="go_home" href="/" title="Zeko">Zeko</a>
	</div>
	
<script type='text/javascript' src='/js/admin-bar.min.js?ver=4.4'></script>
<script type='text/javascript' src='/js/prettyPhoto/jquery.prettyPhoto.min.js?ver=3.1.6'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wc_single_product_params = {"i18n_required_rating_text":"Please select a rating","review_rating_required":"yes"};
/* ]]> */
</script>
<script type='text/javascript' src='/js/frontend/single-product.min.js?ver=2.4.12'></script>
<script type='text/javascript' src='/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var woocommerce_params = {"ajax_url":"\/wordpress\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/wordpress\/product\/first-product\/?wc-ajax=%%endpoint%%"};
/* ]]> */
</script>
<script type='text/javascript' src='/js/frontend/woocommerce.min.js?ver=2.4.12'></script>
<script type='text/javascript' src='/js/jquery-cookie/jquery.cookie.min.js?ver=1.4.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wc_cart_fragments_params = {"ajax_url":"\/wordpress\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/wordpress\/product\/first-product\/?wc-ajax=%%endpoint%%","fragment_name":"wc_fragments"};
/* ]]> */
</script>
<script type='text/javascript' src='/js/frontend/cart-fragments.min.js?ver=2.4.12'></script>
<script type='text/javascript' src='/js/foundation.min.js?ver=5.2.0'></script>
<script type='text/javascript' src='/js/foundation.interchange.js?ver=5.2.0'></script>
<script type='text/javascript' src='/js/isotope.pkgd.min.js?ver=v2.0.0'></script>
<script type='text/javascript' src='/js/imagesloaded.js?ver=v3.1.4'></script>
<script type='text/javascript' src='/js/jquery.touchSwipe.min.js?ver=1.6.5'></script>
<script type='text/javascript' src='/js/jquery.fitvids.js?ver=1.0.3'></script>
<script type='text/javascript' src='/js/idangerous.swiper.min.js?ver=2.6.1'></script>
<script type='text/javascript' src='/js/owl.carousel.min.js?ver=1.3.1'></script>
<script type='text/javascript' src='/js/fresco.js?ver=1.3.0'></script>
<script type='text/javascript' src='/js/jquery.nanoscroller.min.js?ver=0.7.6'></script>
<script type='text/javascript' src='/js/select2.min.js?ver=3.5.1'></script>
<script type='text/javascript' src='/js/jquery.scroll_to.js?ver=1.4.5'></script>
<script type='text/javascript' src='/js/jquery.stellar.min.js?ver=0.6.2'></script>
<script type='text/javascript' src='/js/jquery.snapscroll.min.js?ver=1.6.1'></script>
<script type='text/javascript' src='/js/easyzoom.js?ver=1.0'></script>
<script type='text/javascript' src='/js/scripts.js?ver=1.0'></script>
<script type='text/javascript' src='/js/comment-reply.min.js?ver=4.4'></script>
<script type='text/javascript' src='/js/wp-embed.min.js?ver=4.4'></script>
	<script type="text/javascript">
		(function() {
			var request, b = document.body, c = 'className', cs = 'customize-support', rcs = new RegExp('(^|\\s+)(no-)?'+cs+'(\\s+|$)');

			request = true;

			b[c] = b[c].replace( rcs, ' ' );
			b[c] += ( window.postMessage && request ? ' ' : ' no-' ) + cs;
		}());
	</script>

		</body>

</html>