
<!DOCTYPE html>
<html class="no-js" lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    
    <!-- ******************************************************************** -->
    <!-- * Title ************************************************************ -->
    <!-- ******************************************************************** -->
    
    <title> {{ title }} | Zeko </title>

        
    <!--    ******************************************************************** -->
    <!--    ******************************************************************** -->
    <!--
            * WordPress: v4.4
            * WooCommerce: v2.4.12
            * Visual Composer: v4.8.0.1
            * Theme: Mr. Tailor v1.5.8 by Get Bowtied
            * Child Theme: Not activated
    -->
    <!--    ******************************************************************** -->
    <!--    ******************************************************************** -->
    
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="/xmlrpc.php">
    
    <!-- ******************************************************************** -->
    <!-- * Custom Favicon *************************************************** -->
    <!-- ******************************************************************** -->
    
        
    <!-- ******************************************************************** -->
    <!-- * Favicon ********************************************************** -->
    <!-- ******************************************************************** -->
    
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
        
        
    <!-- ******************************************************************** -->
    <!-- * Custom Header JavaScript Code ************************************ -->
    <!-- ******************************************************************** -->
    
        
    <!-- ******************************************************************** -->
    <!-- * WordPress wp_head() ********************************************** -->
    <!-- ******************************************************************** -->
    
                        <script>
                            /* You can add more configuration options to webfontloader by previously defining the WebFontConfig with your options */
                            if ( typeof WebFontConfig === "undefined" ) {
                                WebFontConfig = new Object();
                            }
                            WebFontConfig['google'] = {families: ['Raleway']};

                            (function() {
                                var wf = document.createElement( 'script' );
                                wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.3/webfont.js';
                                wf.type = 'text/javascript';
                                wf.async = 'true';
                                var s = document.getElementsByTagName( 'script' )[0];
                                s.parentNode.insertBefore( wf, s );
                            })();
                        </script>
                    <meta name='robots' content='noindex,follow' />
<!-- <link rel="alternate" type="application/rss+xml" title="WP WOO test &raquo; Feed" href="/feed/" />
<link rel="alternate" type="application/rss+xml" title="WP WOO test &raquo; Comments Feed" href="/comments/feed/" />
<link rel="alternate" type="application/rss+xml" title="WP WOO test &raquo; First Product Comments Feed" href="/product/first-product/feed/" /> -->
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"http:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"\/js\/wp-emoji-release.min.js?ver=4.4"}};
			!function(a,b,c){function d(a){var c=b.createElement("canvas"),d=c.getContext&&c.getContext("2d");return d&&d.fillText?(d.textBaseline="top",d.font="600 32px Arial","flag"===a?(d.fillText(String.fromCharCode(55356,56806,55356,56826),0,0),c.toDataURL().length>3e3):("simple"===a?d.fillText(String.fromCharCode(55357,56835),0,0):d.fillText(String.fromCharCode(55356,57135),0,0),0!==d.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag"),unicode8:d("unicode8")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag&&c.supports.unicode8||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='open-sans-css'  href='https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&#038;subset=latin%2Clatin-ext&#038;ver=4.4' type='text/css' media='all' />
<link rel='stylesheet' id='dashicons-css'  href='/css/dashicons.min.css?ver=4.4' type='text/css' media='all' />
<link rel='stylesheet' id='admin-bar-css'  href='/css/admin-bar.min.css?ver=4.4' type='text/css' media='all' />
<link rel='stylesheet' id='woocommerce_prettyPhoto_css-css'  href='/css/prettyPhoto.css?ver=4.4' type='text/css' media='all' />
<link rel='stylesheet' id='woocommerce-layout-css'  href='/css/woocommerce-layout.css?ver=2.4.12' type='text/css' media='all' />
<link rel='stylesheet' id='woocommerce-smallscreen-css'  href='/css/woocommerce-smallscreen.css?ver=2.4.12' type='text/css' media='only screen and (max-width: 768px)' />
<link rel='stylesheet' id='woocommerce-general-css'  href='/css/woocommerce.css?ver=2.4.12' type='text/css' media='all' />
<link rel='stylesheet' id='mr_tailor-app-css'  href='/css/app.css?ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='mr_tailor-easyzoom-css'  href='/css/easyzoom.css?ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='mr_tailor-woocommerce-overwrite-css'  href='/css/woocommerce-overwrite.css?ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='mr_tailor-animate-css'  href='/css/animate.min.css?ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='mr_tailor-animations-products-grid-css'  href='/css/animations-products-grid.css?ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='mr_tailor-fresco-css'  href='/css/fresco/fresco.css?ver=1.3.0' type='text/css' media='all' />
<link rel='stylesheet' id='mr_tailor-swiper-css'  href='/css/idangerous.swiper.css?ver=2.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='mr_tailor-owl-css'  href='/css/owl.carousel.css?ver=1.3.1' type='text/css' media='all' />
<link rel='stylesheet' id='mr_tailor-owl-theme-css'  href='/css/owl.theme.css?ver=1.3.1' type='text/css' media='all' />
<link rel='stylesheet' id='mr_tailor-offcanvas-css'  href='/css/offcanvas.css?ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='mr_tailor-nanoscroller-css'  href='/css/nanoscroller.css?ver=0.7.6' type='text/css' media='all' />
<link rel='stylesheet' id='mr_tailor-select2-css'  href='/css/select2.css?ver=3.5.1' type='text/css' media='all' />
<link rel='stylesheet' id='mr_tailor-defaults-css'  href='/css/defaults.css?ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='mr_tailor-styles-css'  href='/css/styles.css?ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='mr_tailor-responsive-css'  href='/css/responsive.css?ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='mr_tailor-fonts-css'  href='/inc/fonts/getbowtied-fonts/style.css?ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='mr_tailor-font-awesome-css'  href='/inc/fonts/font-awesome/css/font-awesome.min.css?ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='mr_tailor-default-style-css'  href='/style.css?ver=4.4' type='text/css' media='all' />
<script type='text/javascript' src='/js/jquery/jquery.js?ver=1.11.3'></script>
<script type='text/javascript' src='/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var wc_add_to_cart_params = {"ajax_url":"\/wordpress\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/wordpress\/product\/first-product\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View Cart","cart_url":"http:\/\/localhost\/wordpress\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
/* ]]> */
</script>
<script type='text/javascript' src='/js/frontend/add-to-cart.min.js?ver=2.4.12'></script>
<script type='text/javascript' src='/js/vendors/woocommerce-add-to-cart.js?ver=4.8.0.1'></script>
<script type='text/javascript' src='/js/modernizr.custom.js?ver=2.6.3'></script>
<link rel='https://api.w.org/' href='/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 4.4" />
<meta name="generator" content="WooCommerce 2.4.12" />
<link rel="canonical" href="/product/first-product/" />
<link rel='shortlink' href='/?p=10' />
<link rel="alternate" type="application/json+oembed" href="/wp-json/oembed/1.0/embed?url=http%3A%2F%2Flocalhost%2Fwordpress%2Fproduct%2Ffirst-product%2F" />
<link rel="alternate" type="text/xml+oembed" href="/wp-json/oembed/1.0/embed?url=http%3A%2F%2Flocalhost%2Fwordpress%2Fproduct%2Ffirst-product%2F&#038;format=xml" />
<link rel="alternate" type="application/rss+xml"  title="New products" href="/shop/feed/" />    <script type="text/javascript">
        var mrtailor_ajaxurl = '/wordpress/wp-admin/admin-ajax.php';
    </script>
		<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="/css/vc_lte_ie9.min.css" media="screen"><![endif]--><!--[if IE  8]><link rel="stylesheet" type="text/css" href="/css/vc-ie8.min.css" media="screen"><![endif]-->

<!-- ******************************************************************** --><!-- * Theme Options Styles ********************************************* --><!-- ******************************************************************** -->
<style>
/***************************************************************//* Fonts *******************************************************//***************************************************************/
body,.product_meta span a,.product_meta span span,h1, h2, h3, h4, h5, h6,.comments-title,.comment-author,#reply-title,.wishlist_items_number,.shopping_bag_items_number,.copyright_text,.order_details li strong,.wpcf7 input,.mobile-navigation .sub-menu a,.cart-subtotal .amount,.order-total .amount,.wpb_tabs .ui-widget,.wpb_tour .ui-widget,.wpb_accordion .ui-widget,.products ul h3,ul.products h3,.widget ul small.count,.country_select.select2-container .select2-choice > .select2-chosen,.state_select.select2-container .select2-choice > .select2-chosen,.woocommerce #payment .payment_method_paypal .about_paypal,.woocommerce .form-row.terms .checkbox.check_label,.shortcode_title.main_font{font-family: 			Raleway, sans-serif;}.label,#site-navigation-top-bar ul li a,.main-navigation .sub-menu li a,.remember-me,.woocommerce form .form-row label.inline,.woocommerce-page form .form-row label.inline{font-family: 			jubilat, sans-serif !important}#site-navigation-top-bar,.site-title,.widget h3,.widget_product_search #searchsubmit,.widget_search #searchsubmit,.widget_product_search .search-submit,.widget_search .search-submit,.comment-respond label,.button,button,input[type="button"],input[type="reset"],input[type="submit"],.woocommerce a.button,.woocommerce-page a.button,.woocommerce button.button,.woocommerce-page button.button,.woocommerce input.button,.woocommerce-page input.button,.woocommerce #respond input#submit,.woocommerce-page #respond input#submit,.woocommerce #content input.button,.woocommerce-page #content input.button,.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt,.woocommerce #respond input#submit.alt,.woocommerce #content input.button.alt,.woocommerce-page a.button.alt,.woocommerce-page button.button.alt,.woocommerce-page input.button.alt,.woocommerce-page #respond input#submit.alt,.woocommerce-page #content input.button.alt,blockquote cite,.widget .tagcloud a,.widget_shopping_cart .total strong,table thead th,.woocommerce div.product form.cart div.label label,.woocommerce-page div.product form.cart div.label label,.woocommerce #content div.product form.cart div.label label,.woocommerce-page #content div.product form.cart div.label label,.woocommerce span.onsale,.woocommerce-page span.onsale,.recently_viewed_in_single h2,.woocommerce .cart-collaterals .cart_totals table th,.woocommerce-page .cart-collaterals .cart_totals table th,.woocommerce .cart-collaterals .shipping-calculator-button,.woocommerce-page .cart-collaterals .shipping-calculator-button,.woocommerce form .form-row label,.woocommerce-page form .form-row label,.main-slider h1,.site-tools,#site-navigation ul li a,#mobile-main-navigation ul li,.post-edit-link,.comment-edit-link,.comment-reply-link,.slider_button,.go_home,.filters_button,.woocommerce-ordering,.out_of_stock_badge_loop,.out_of_stock_badge_single,.add_to_wishlist,.out-of-stock,.wishlist-in-stock,.wishlist-out-of-stock,.cross-sells h2,tr.shipping > td:first-of-type,.checkout_login .woocommerce-info,.checkout_coupon_box .woocommerce-info,.check_label_radio,.order_details .title,.order_details li,.customer_details dt,.account_view_link,.order_details_footer tr td:first-of-type,.wpcf7,.mobile-navigation,.widget_layered_nav ul li.chosen,.widget_layered_nav_filters ul li.chosen a,.product_meta > span,.woocommerce table.shop_attributes th,.woocommerce-page table.shop_attributes th,.wpb_tour.wpb_content_element .wpb_tabs_nav li a,.mobile-menu-text,.trigger-share-list,.shortcode_banner_simple_height_bullet span,.select2-container .select2-choice > .select2-chosen,select.topbar-language-switcher,select.wcml_currency_switcher,.blog-isotope .more-link,.blog-isotope .post_meta_archive,.product_after_shop_loop .price,.products a.button,.yith-wcwl-wishlistaddedbrowse a,.yith-wcwl-wishlistexistsbrowse a,.woocommerce-message a,.shop_table.order_details tfoot th:first-child,.shop_table.order_details tfoot td:first-child,.shop_table.woocommerce-checkout-review-order-table tfoot th:first-child,.shop_table.woocommerce-checkout-review-order-table tfoot td:first-child,.woocommerce .shop_table.customer_details tbody tr th,.woocommerce table.shop_table_responsive.customer_details tr td:before,.woocommerce-page table.shop_table_responsive.customer_details tr td:before,.woocommerce .cart-collaterals .cart-subtotal .amount,.woocommerce .cart-collaterals .shipping,.shortcode_title.secondary_font{font-family: 			Raleway, sans-serif;}.main-navigation .megamenu-1-col > ul > li > a,.main-navigation .megamenu-2-col > ul > li > a,.main-navigation .megamenu-3-col > ul > li > a,.main-navigation .megamenu-4-col > ul > li > a,.vc_btn{font-family: 			Raleway, sans-serif !important;}
/***************************************************************//* Body (.st-content) ******************************************//***************************************************************/
.st-content {background-color:#ffffff;}.slide-from-left.filters,.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle{background:#ffffff;}
/***************************************************************//* Body Text Color  *******************************************//***************************************************************/
body,pre,label,blockquote,blockquote p,blockquote cite,abbr,acronym,table tr td,.woocommerce .recently_viewed_in_single h2,.product-nav-previous a,.product-nav-next a,#shipping_method .check_label_radio,.cart-collaterals table tr th,.woocommerce-checkout .woocommerce-info:before,.woocommerce-checkout .woocommerce-info,.payment_methods .check_label_radio,.order_details.bacs_details li strong,.thank_you_header .order_details li strong,.woocommerce #content div.product p.stock.in-stock,.woocommerce div.product p.stock.in-stock,.woocommerce-page #content div.product p.stock.in-stock,.woocommerce-page div.product p.stock.in-stock,.wpb_widgetised_column a,.products ul h3 a,ul.products h3 a,.quantity input.qty,.woocommerce .quantity .qty,.shop_table.order_details tfoot th:first-child,.shop_table.order_details tfoot td:first-child,.shop_table.woocommerce-checkout-review-order-table tfoot th:first-child,.shop_table.woocommerce-checkout-review-order-table tfoot td:first-child,.woocommerce .shop_table.customer_details tbody tr th{color: #222222;}.woocommerce a.remove{color: #222222 !important;}.product_after_shop_loop .price{color: rgba(34,34,34,0.80);}a:hover, a:focus,.woocommerce .woocommerce-breadcrumb a:hover,.woocommerce-page .woocommerce-breadcrumb a:hover,.nav-previous-title,.nav-next-title,.woocommerce #content div.product p.price del,.woocommerce #content div.product span.price del,.woocommerce div.product p.price del,.woocommerce div.product span.price del,.woocommerce-page #content div.product p.price del,.woocommerce-page #content div.product span.price del,.woocommerce-page div.product p.price del,.woocommerce-page div.product span.price del.woocommerce #content div.product .woocommerce-tabs ul.tabs li a:hover,.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a:hover,.woocommerce-page div.product .woocommerce-tabs ul.tabs li a:hover,.woocommerce table.shop_table th,.woocommerce-page table.shop_table th,.woocommerce-page #payment div.payment_box,.woocommerce-checkout .order_details.bacs_details li,.thank_you_header .order_details li,.customer_details dt,.wpb_widgetised_column,.wpb_widgetised_column .product_list_widget .star-rating span:before,.wpb_widgetised_column .widget_layered_nav ul li small.count,.post_meta_archive a:hover,.products ul h3 a:hover,ul.products h3 a:hover,.products li:hover .add_to_wishlist:before,.product_after_shop_loop .price del{color: rgba(34,34,34,0.55);}.widget.widget_price_filter .price_slider_amount .button:hover,.woocommerce a.remove:hover{color: rgba(34,34,34,0.55) !important;}.required,.woocommerce form .form-row .required,.wp-caption-text,.woocommerce .woocommerce-breadcrumb,.woocommerce-page .woocommerce-breadcrumb,.woocommerce .woocommerce-result-count,.woocommerce-page .woocommerce-result-count.woocommerce div.product .woocommerce-tabs ul.tabs li a,.woocommerce #content div.product .woocommerce-tabs ul.tabs li a,.woocommerce-page div.product .woocommerce-tabs ul.tabs li a,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a,.product_list_widget .wishlist-out-of-stock,.woocommerce #reviews #comments ol.commentlist li .comment-text .verified,.woocommerce-page #reviews #comments ol.commentlist li .comment-text .verified,.woocommerce #content div.product p.stock.out-of-stock,.woocommerce div.product p.stock.out-of-stock,.woocommerce-page #content div.product p.stock.out-of-stock,.woocommerce-page div.product p.stock.out-of-stock,.yith-wcwl-add-button:before,.trigger-share-list .fa,.post_meta_archive a{color: rgba(34,34,34,0.45);}.products a.button:hover{color: rgba(34,34,34,0.45) !important;}.products .add_to_wishlist:before{color: rgba(34,34,34,0.40);}.woocommerce .star-rating:before,.woocommerce-page .star-rating:before,.woocommerce p.stars,.woocommerce-page p.stars{color: rgba(34,34,34,0.35);}pre{border-color: rgba(34,34,34,0.15);}hr,.woocommerce div.product .woocommerce-tabs ul.tabs li,.woocommerce #content div.product .woocommerce-tabs ul.tabs li,.woocommerce-page div.product .woocommerce-tabs ul.tabs li,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li,.wpb_widgetised_column .tagcloud a{border-color: rgba(34,34,34,0.13);}.woocommerce table.shop_table tbody th,.woocommerce table.shop_table tbody td,.woocommerce table.shop_table tbody tr:first-child td,.woocommerce table.shop_table tfoot th,.woocommerce table.shop_table tfoot td,.woocommerce .shop_table.customer_details tbody tr:first-child th,.woocommerce .cart-collaterals .cart_totals tr.order-total td,.woocommerce .cart-collaterals .cart_totals tr.order-total th,.woocommerce-page .cart-collaterals .cart_totals tr.order-total td,.woocommerce-page .cart-collaterals .cart_totals tr.order-total th,.woocommerce .my_account_container table.shop_table.order_details tr:first-child td,.woocommerce-page .my_account_container table.shop_table.order_details tr:first-child td,.woocommerce .my_account_container table.shop_table order_details_footer tr:last-child td,.woocommerce-page .my_account_container table.shop_table.order_details_footer tr:last-child td,.blog-isotop-master-wrapper #nav-below.paging-navigation,.payment_methods li:first-child{border-top-color: rgba(34,34,34,0.13);}abbr,acronym{border-bottom-color: rgba(34,34,34,1);}table tr,.woocommerce .my_account_container table.shop_table.order_details tr:last-child td,.woocommerce-page .my_account_container table.shop_table.order_details tr:last-child td,.payment_methods li,.slide-from-left.filters aside,.woocommerce div.product form.cart tr,.woocommerce-page div.product form.cart tr,.woocommerce #content div.product form.cart tr,.woocommerce-page #content div.product form.cart tr,.quantity input.qty,.woocommerce .quantity .qty,.woocommerce .shop_table.customer_details tbody tr:last-child th,.woocommerce .shop_table.customer_details tbody tr:last-child td{border-bottom-color: rgba(34,34,34,0.13);}.woocommerce .widget_price_filter .ui-slider .ui-slider-range,.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range{background: rgba(34,34,34,0.35);}.woocommerce-checkout .thank_you_bank_details h3:after,.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,.woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content,.blog-isotope:before,.blog-isotope:after{background: rgba(34,34,34,0.13);}pre{background: rgba(34,34,34,0.05);}.comments_section,.cart-buttons,.woocommerce .cart-collaterals,.woocommerce-page .cart-collaterals,.single_product_summary_upsell,.single_product_summary_related,.shop_table.order_details tfoot,.shop_table.woocommerce-checkout-review-order-table tfoot{background: rgba(34,34,34,0.04);}/* min-width 641px, medium screens */@media only screen and (min-width: 40.063em) {.woocommerce #content nav.woocommerce-pagination ul,.woocommerce nav.woocommerce-pagination ul,.woocommerce-page #content nav.woocommerce-pagination ul,.woocommerce-page nav.woocommerce-pagination ul{border-color: rgba(34,34,34,0.13)  transparent rgba(34,34,34,0.13) rgba(34,34,34,0.13);}.woocommerce #content nav.woocommerce-pagination ul li,.woocommerce nav.woocommerce-pagination ul li,.woocommerce-page #content nav.woocommerce-pagination ul li,.woocommerce-page nav.woocommerce-pagination ul li{border-right-color: rgba(34,34,34,0.13);}.woocommerce div.product .woocommerce-tabs ul.tabs li,.woocommerce #content div.product .woocommerce-tabs ul.tabs li,.woocommerce-page div.product .woocommerce-tabs ul.tabs li,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li{border-bottom-color:  transparent;}}
.main-slider .slide_1 {background-image:url(/images/cover/image1.jpg);}.main-slider .slide_1 .main-slider-elements.animated {-webkit-animation-name: fadeIn;-moz-animation-name: fadeIn;-o-animation-name: fadeIn;animation-name: fadeIn;}.main-slider .slide_2 {background-image:url(/images/cover/image2.jpg);}.main-slider .slide_2 .main-slider-elements.animated {-webkit-animation-name: fadeIn;-moz-animation-name: fadeIn;-o-animation-name: fadeIn;animation-name: fadeIn;}.main-slider .slide_3 {background-image:url(/images/cover/image3.jpg);}.main-slider .slide_3 .main-slider-elements.animated {-webkit-animation-name: fadeIn;-moz-animation-name: fadeIn;-o-animation-name: fadeIn;animation-name: fadeIn;}.main-slider .slide_4 {background-image:url(/images/cover/image4.jpg);}.main-slider .slide_4 .main-slider-elements.animated {-webkit-animation-name: fadeInDown;-moz-animation-name: fadeInDown;-o-animation-name: fadeInDown;animation-name: fadeInDown;}
/***************************************************************//* Headings Color  *********************************************//***************************************************************/
h1, h2, h3, h4, h5, h6,table tr th,.woocommerce div.product span.price,.woocommerce-page div.product span.price,.woocommerce #content div.product span.price,.woocommerce-page #content div.product span.price,.woocommerce div.product p.price,.woocommerce-page div.product p.price,.woocommerce #content div.product p.price,.woocommerce-page #content div.product p.price,.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active a,.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active a,.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active a,.woocommerce table.shop_table .product-name a,.woocommerce-page table.shop_table .product-name a{color: #000000;}.wpb_widgetised_column .widget-title{color: #000000 !important;}.woocommerce div.product .woocommerce-tabs ul.tabs li.active,.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active,.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active{border-bottom-color: #000000;}.woocommerce-checkout .entry-title:after,.woocommerce-account .entry-title:after{background: #000000;}
/***************************************************************//* Main Color  *************************************************//***************************************************************/
.widget .tagcloud a:hover,.woocommerce span.onsale,.woocommerce-page span.onsale,.woocommerce nav.woocommerce-pagination ul li span.current,.woocommerce nav.woocommerce-pagination ul li a:hover,.woocommerce nav.woocommerce-pagination ul li a:focus,.woocommerce #content nav.woocommerce-pagination ul li span.current,.woocommerce #content nav.woocommerce-pagination ul li a:hover,.woocommerce #content nav.woocommerce-pagination ul li a:focus,.woocommerce-page nav.woocommerce-pagination ul li span.current,.woocommerce-page nav.woocommerce-pagination ul li a:hover,.woocommerce-page nav.woocommerce-pagination ul li a:focus,.woocommerce-page #content nav.woocommerce-pagination ul li span.current,.woocommerce-page #content nav.woocommerce-pagination ul li a:hover,.woocommerce-page #content nav.woocommerce-pagination ul li a:focus,.woocommerce .widget_layered_nav_filters ul li a,.woocommerce-page .widget_layered_nav_filters ul li a,.woocommerce .widget_layered_nav ul li.chosen a,.woocommerce-page .widget_layered_nav ul li.chosen a,.nl-field ul,.nl-form .nl-submit,.audioplayer-bar-played,.audioplayer-volume-adjust div div,.select2-results .select2-highlighted,.slide-from-right,.with_thumb_icon,/*begin app.css*/.woocommerce-page a.button, .woocommerce-page a.button,.woocommerce-page a.button.alt,.woocommerce-page button.button,.woocommerce-page button.button,.woocommerce-page button.button.alt,.woocommerce-page input.button,.woocommerce-page input.button,.woocommerce-page #respond input#submit,.woocommerce-page #content input.button,.woocommerce-page input.button.alt,.woocommerce-page #respond input#submit,.woocommerce-page #content input.button,.woocommerce-page #content input.button,.woocommerce-page #content #respond input#submit,.woocommerce-page #respond #content input#submit,.woocommerce-page #content input.button,.woocommerce-page #content input.button.alt,.woocommerce-page a.button.alt,.woocommerce-page a.alt.button,.woocommerce-page button.button.alt,.woocommerce-page button.alt.button,.woocommerce-page input.button.alt,.woocommerce-page input.alt.button,.woocommerce-page #respond input.alt#submit,.woocommerce-page #content input.alt.button,ul.pagination li.current a,ul.pagination li.current a:hover, ul.pagination li.current a:focus,.progress .meter,.sub-nav dt.active a,.sub-nav dd.active a,.sub-nav li.active a,.top-bar-section ul li > a.button, .top-bar-section ul .woocommerce-page li > a.button, .woocommerce-page .top-bar-section ul li > a.button,.top-bar-section ul .woocommerce-page li > a.button.alt,.woocommerce-page .top-bar-section ul li > a.button.alt,.top-bar-section ul li.active > a,.no-js .top-bar-section ul li:active > a/*end app.css*/{background: #3e5372;}.select2-container,.big-select,select.big-select,.select2-dropdown-open.select2-drop-above .select2-choice,.select2-dropdown-open.select2-drop-above .select2-choices,.select2-container .select2-choice,.yith-wcwl-add-button,.yith-wcwl-wishlistaddedbrowse .feedback,.yith-wcwl-wishlistexistsbrowse .feedback,.shopping_bag_items_number,.wishlist_items_number,.woocommerce .star-rating span:before,.woocommerce-page .star-rating span:before,/*begin app.css*/.woocommerce .woocommerce-breadcrumb a,.woocommerce-page .woocommerce-breadcrumb a,.panel.callout a,.side-nav li a,.has-tip:hover, .has-tip:focus,a,.edit-link,.comment-reply,.comment-edit-link,.woocommerce p.stars a.active:after,.woocommerce p.stars a:hover:after,.woocommerce-page p.stars a.active:after,.woocommerce-page p.stars a:hover:after,.yith-wcwl-wishlistaddedbrowse,.yith-wcwl-wishlistexistsbrowse/*end app.css*/{color: #3e5372;}.products a.button,.cart-buttons .update_and_checkout .update_cart,.cart-buttons .coupon .apply_coupon,.widget.widget_price_filter .price_slider_amount .button,#wishlist-offcanvas .button,#wishlist-offcanvas input[type="button"],#wishlist-offcanvas input[type="reset"],#wishlist-offcanvas input[type="submit"],/*begin app.css*/.tooltip.opened/*end app.css*/{color: #3e5372 !important;}/*begin app.css*/.label,button,.button,.woocommerce-page a.button, .woocommerce-page a.button,.woocommerce-page a.button.alt,.woocommerce-page .woocommerce a.button,.woocommerce .woocommerce-page a.button,.woocommerce-page .woocommerce a.button.alt,.woocommerce .woocommerce-page a.button.alt,.woocommerce-page button.button,.woocommerce-page button.button,.woocommerce-page button.button.alt,.woocommerce-page .woocommerce button.button,.woocommerce .woocommerce-page button.button,.woocommerce-page .woocommerce button.button.alt,.woocommerce .woocommerce-page button.button.alt,.woocommerce-page input.button,.woocommerce-page input.button,.woocommerce-page #respond input#submit,.woocommerce-page #content input.button,.woocommerce-page input.button.alt,.woocommerce-page .woocommerce input.button,.woocommerce .woocommerce-page input.button,.woocommerce-page .woocommerce #respond input#submit,.woocommerce #respond .woocommerce-page input#submit,.woocommerce-page .woocommerce #content input.button,.woocommerce #content .woocommerce-page input.button,.woocommerce-page .woocommerce input.button.alt,.woocommerce .woocommerce-page input.button.alt,.woocommerce-page #respond input#submit,.woocommerce-page #content input.button,.woocommerce-page #content input.button,.woocommerce-page #content #respond input#submit,.woocommerce-page #respond #content input#submit,.woocommerce-page #content input.button,.woocommerce-page #content input.button.alt,.woocommerce-page #content .woocommerce input.button,.woocommerce .woocommerce-page #content input.button,.woocommerce-page #content .woocommerce #respond input#submit,.woocommerce #respond .woocommerce-page #content input#submit,.woocommerce-page .woocommerce #content input.button,.woocommerce .woocommerce-page #content input.button,.woocommerce-page #content .woocommerce input.button.alt,.woocommerce .woocommerce-page #content input.button.alt,.woocommerce-page a.button.alt,.woocommerce-page a.alt.button,.woocommerce-page .woocommerce a.alt.button,.woocommerce .woocommerce-page a.alt.button,.woocommerce-page button.button.alt,.woocommerce-page button.alt.button,.woocommerce-page .woocommerce button.alt.button,.woocommerce .woocommerce-page button.alt.button,.woocommerce-page input.button.alt,.woocommerce-page input.alt.button,.woocommerce-page #respond input.alt#submit,.woocommerce-page #content input.alt.button,.woocommerce-page .woocommerce input.alt.button,.woocommerce .woocommerce-page input.alt.button,.woocommerce-page .woocommerce #respond input.alt#submit,.woocommerce #respond .woocommerce-page input.alt#submit,.woocommerce-page .woocommerce #content input.alt.button,.woocommerce #content .woocommerce-page input.alt.button,.woocommerce a.button,.woocommerce .woocommerce-page a.button,.woocommerce-page .woocommerce a.button,.woocommerce .woocommerce-page a.button.alt,.woocommerce-page .woocommerce a.button.alt,.woocommerce a.button,.woocommerce a.button.alt,.woocommerce button.button,.woocommerce .woocommerce-page button.button,.woocommerce-page .woocommerce button.button,.woocommerce .woocommerce-page button.button.alt,.woocommerce-page .woocommerce button.button.alt,.woocommerce button.button,.woocommerce button.button.alt,.woocommerce input.button,.woocommerce .woocommerce-page input.button,.woocommerce-page .woocommerce input.button,.woocommerce .woocommerce-page #respond input#submit,.woocommerce-page #respond .woocommerce input#submit,.woocommerce .woocommerce-page #content input.button,.woocommerce-page #content .woocommerce input.button,.woocommerce .woocommerce-page input.button.alt,.woocommerce-page .woocommerce input.button.alt,.woocommerce input.button,.woocommerce #respond input#submit,.woocommerce #content input.button,.woocommerce input.button.alt,.woocommerce #respond input#submit,.woocommerce #content input.button,.woocommerce #content .woocommerce-page input.button,.woocommerce-page .woocommerce #content input.button,.woocommerce #content .woocommerce-page #respond input#submit,.woocommerce-page #respond .woocommerce #content input#submit,.woocommerce .woocommerce-page #content input.button,.woocommerce-page .woocommerce #content input.button,.woocommerce #content .woocommerce-page input.button.alt,.woocommerce-page .woocommerce #content input.button.alt,.woocommerce #content input.button,.woocommerce #content #respond input#submit,.woocommerce #respond #content input#submit,.woocommerce #content input.button,.woocommerce #content input.button.alt,.woocommerce a.button.alt,.woocommerce .woocommerce-page a.alt.button,.woocommerce-page .woocommerce a.alt.button,.woocommerce a.alt.button,.woocommerce button.button.alt,.woocommerce .woocommerce-page button.alt.button,.woocommerce-page .woocommerce button.alt.button,.woocommerce button.alt.button,.woocommerce input.button.alt,.woocommerce .woocommerce-page input.alt.button,.woocommerce-page .woocommerce input.alt.button,.woocommerce .woocommerce-page #respond input.alt#submit,.woocommerce-page #respond .woocommerce input.alt#submit,.woocommerce .woocommerce-page #content input.alt.button,.woocommerce-page #content .woocommerce input.alt.button,.woocommerce input.alt.button,.woocommerce #respond input.alt#submit,.woocommerce #content input.alt.button,input[type="button"],input[type="reset"],input[type="submit"],.alert-box,.woocommerce .quantity .plus,.woocommerce .quantity .minus,.woocommerce-page .quantity .plus,.woocommerce-page .quantity .minus,.woocommerce-page #content .quantity .plus,.woocommerce-page #content .quantity .minus/*end app.css*/{background-color: #3e5372;}.main-navigation ul ul li a:hover,.box-share-link:hover span{border-bottom-color: #3e5372;}.login_header{border-top-color: #3e5372;}.cart-buttons .update_and_checkout .update_cart,.cart-buttons .coupon .apply_coupon,.shopping_bag_items_number,.wishlist_items_number,.widget .tagcloud a:hover,.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle{border-color: #3e5372;}.cart-buttons .update_and_checkout .update_cart,.cart-buttons .coupon .apply_coupon{border-color: #3e5372 !important;}
/***************************************************************//* Top Bar *****************************************************//***************************************************************/
#site-top-bar,#site-navigation-top-bar .sf-menu ul{background: #3e5372;}#site-top-bar,#site-top-bar a{color:#ffffff;}
/***************************************************************//* 	Header *****************************************************//***************************************************************/
@media only screen and (min-width: 64.063em) {#site-navigation {line-height:66px; /* 66px/2 */}.site-header-sticky .site-branding{min-height: 40px;padding: 5px 25px;margin-top: 7px;}.site-header-sticky .site-title{font-size: 24px;}}.site-header {padding:30px 0;}.site-header,.site-header-sticky,#site-navigation,.shortcode_banner_simple_height_bullet span{font-size: 13px;}.site-header,.site-header-sticky,.shopping_bag_items_number,.wishlist_items_number{background: #ffffff;}.site-header,#site-navigation a,.site-header-sticky,.site-header-sticky a,.site-tools ul li a,.shopping_bag_items_number,.wishlist_items_number,.site-title a,.widget_product_search .search-but-added,.widget_search .search-but-added{color:#000000;}.shopping_bag_items_number,.wishlist_items_number,.site-branding{border-color: #000000;}
/***************************************************************//* Footer ******************************************************//***************************************************************/
#site-footer{background: #262628;}#site-footer,#site-footer .widget-title,#site-footer a:hover,#site-footer .star-rating span:before,#site-footer .star-rating span:before{color:#c9c9c9;}#site-footer a{color:#ffffff;}
/***************************************************************//* Breadcrumbs *************************************************//***************************************************************//***************************************************************//* Slider ******************************************************//***************************************************************//********************************************************************//* Custom CSS *******************************************************//********************************************************************/
</style>

<noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript>
</head>

<body class="single single-product postid-10 logged-in admin-bar no-customize-support woocommerce woocommerce-page wpb-js-composer js-comp-ver-4.8.0.1 vc_responsive">

	<div id="st-container" class="st-container">

        <div class="st-pusher">
            
            <div class="st-pusher-after"></div>   
                
                <div class="st-content">
                
					                    
                    <div id="page">
                    
                                                
                        <div class="top-headers-wrapper">
						
							                        
                                <div id="site-top-bar">
                            
    <div class="row">
        
        <div class="large-6 columns">
        	
			<div class="language-and-currency">
				
								
								
			</div><!--.language-and-currency-->
            
            <div class="site-top-message">Free Shipping on All Orders Over $75!</div> 
                           
        </div><!-- .large-6 .columns -->
        
        <div class="large-6 columns">
            
            <div class="site-social-icons-wrapper">
                <div class="site-social-icons">
                    <ul class="//animated //flipY">
                        <li class="site-social-icons-facebook"><a target="_blank" href="https://www.facebook.com/GetBowtied"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>                        <li class="site-social-icons-twitter"><a target="_blank" href="http://twitter.com/GetBowtied"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>                        <li class="site-social-icons-pinterest"><a target="_blank" href="http://www.pinterest.com/"><i class="fa fa-pinterest"></i><span>Pinterest</span></a></li>                                                                                                                        <li class="site-social-icons-instagram"><a target="_blank" href="http://instagram.com/getbowtied"><i class="fa fa-instagram"></i><span>Instagram</span></a></li>                        <li class="site-social-icons-youtube"><a target="_blank" href="https://www.youtube.com/channel/UC88KP4HSF-TnVhPCJLe9P-g"><i class="fa fa-youtube-play"></i><span>Youtube</span></a></li>                                            </ul>
                </div>
            </div>
            
            <nav id="site-navigation-top-bar" class="main-navigation" role="navigation">                    
				<ul>
                    <li>
                        <a href="/?customer-logout=true" class="account_link"></a>
                    </li>
                </ul>
                        
                <script type="text/javascript">
                jQuery.get( "/account/checkAuth", function( data ) {
                        if (data.loggedIn == true){
                            jQuery( ".account_link" ).attr( {href: "/account"} );
                            jQuery( ".account_link" ).text("Welcome "+data.name+"!");
                            jQuery( "a.account_link" ).parent().parent().append('<li><a href="/account/logout">Logout</a></li>');
                        } else {
                            jQuery( ".account_link" ).attr( {href: "/account/login"} );
                            jQuery( ".account_link" ).text("Login/Register");
                        }
                    });
                </script>  
            </nav><!-- #site-navigation -->
                           
        </div><!-- .large-8 .columns -->
                    
    </div><!-- .row -->
    
</div><!-- #site-top-bar -->						
                                                  
                            
                            
<header id="masthead" class="site-header header-default" role="banner">
                            
    <div class="row">		
        
        <div class="large-12 columns">
            
            <div class="site-header-wrapper">
            
                <div class="site-branding">
                    
                                        
                        <div class="site-title"><a href="/" rel="home">Zeko</a></div>
                    
                                        
                </div><!-- .site-branding -->
                
                                
                <div id="site-menu">
                    
                    <nav id="site-navigation" class="main-navigation" role="navigation">  
                    <ul id="menu-main-navigation-2">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8313"><a href="/"><strong>Home</strong></a></li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8313"><a href="/designers"><strong>Designers</strong></a></li>
                    </ul>
                        
                                   
                    </nav><!-- #site-navigation -->                  
                    
                    <div class="site-tools">
                        <ul>
                            
                            <li class="mobile-menu-button"><a><span class="mobile-menu-text">MENU</span><i class="fa fa-bars"></i></a></li>
                            <li class="shopping-bag-button" class="right-off-canvas-toggle"><a><i class="getbowtied-icon-shop"></i><span class="shopping_bag_items_number">0</span></a></li>
							<li class="search-button"><a><i class="getbowtied-icon-search"></i></a></li>
                                                        
                        </ul>	
                    </div>
                                        
                    <div class="site-search">
						<div class="widget woocommerce widget_product_search"><form role="search" method="get" class="woocommerce-product-search" action="/">
	<label class="screen-reader-text" for="s">Search for:</label>
	<input type="search" class="search-field" placeholder="Search Products&hellip;" value="" name="s" title="Search for:" />
	<input type="submit" value="Search" />
	<input type="hidden" name="post_type" value="product" />
</form>
</div>               
                    </div><!-- .site-search -->
                
                </div><!-- #site-menu -->
                
                <div class="clearfix"></div>
            
            </div><!-- .site-header-wrapper -->
                           
        </div><!-- .columns -->
                    
    </div><!-- .row -->

</header><!-- #masthead -->                        
                        </div>